/** override bs config */
@media (min-width: 1400px) {
  .container {
    max-width: 1216px !important;
  }
}
.row {
  --bs-gutter-x: 2rem !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --nav-color: #0080e9;
  --defaul-text-color: #000;
  --disabled-color: #bababa;
  --text-intro-plain: #616161;
  --hover-bg-default: #ebebeb;
}

html {
  scroll-behavior: unset !important;
  overflow-x: hidden;
}

body {
  position: relative;
}
body:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-image: url("/tjt_ws/assets/images/t_head.svg");
  width: 1000px;
  height: 898px;
}

a {
  text-decoration: none;
}

button {
  border: none;
  transition: 0.25s;
}
button:active {
  box-shadow: 0 0 14px -3px #d9d9d9;
}

input {
  transition: 0.1s;
}
input:focus-visible {
  outline: 0;
  box-shadow: 0 0 3px 1px var(--nav-color);
}

.ts-nm {
  font-size: 1rem;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.text-bolder {
  font-weight: 500;
}

.text-intro {
  font-weight: 700;
  font-size: 64px;
  color: #010101;
  line-height: 90px;
  position: relative;
}

.text-intro-explain {
  color: var(--text-intro-plain);
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

.btn-base {
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  padding: 16px 24px;
  background: linear-gradient(90deg, #80baf9 -13.29%, #0080e9 110.76%);
  border-radius: 3px;
  border: none;
  transition: 0.25s;
}
.btn-base:hover {
  background: linear-gradient(90deg, #54a6ff -13.29%, #00559a 110.76%);
}

.g-header {
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  color: #212121;
}

.g-detail {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #212121;
}

.g-title {
  color: #000000;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
}

.g-normal {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
}

.flip-horizontal {
  transform: scaleX(-1);
}

.flip-vertical {
  transform: scaleY(-1);
}

.detail {
  color: #212121;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.hidden-scrollbar::-webkit-scrollbar {
  opacity: 0;
}

.nav-head {
  height: 68px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
}
.nav-head .nav-actions .nav-action {
  margin: 0 13px;
}

#pre-loaded {
  position: fixed;
  inset: 0;
  background-color: #fff;
  z-index: 40;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#pre-loaded.prl-hidden {
  opacity: 0;
  visibility: hidden;
}

.nav-foot {
  position: sticky;
  top: 0;
  z-index: 4;
}
.nav-foot.filter-drop {
  background-color: #fff;
  box-shadow: 0 1px 29px -24px grey;
}
.nav-foot .logo {
  margin: 15px 0;
}
.nav-foot .nav-controls {
  display: flex;
  align-items: center;
}
.nav-foot .nav-controls .nav-control {
  margin: 0 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 18px;
  font-weight: 500;
  position: relative;
  color: var(--defaul-text-color);
}
.nav-foot .nav-controls .nav-control .nav-content,
.nav-foot .nav-controls .nav-control .nav-more-ic {
  transition: 0.25s;
}
.nav-foot .nav-controls .nav-control:hover .nav-content {
  color: var(--nav-color);
}
.nav-foot .nav-controls .nav-control:hover .nav-more-ic {
  fill: var(--nav-color);
}
.nav-foot .nav-controls .nav-control:hover .sub-control-list,
.nav-foot .nav-controls .nav-control:hover .sub-control-list-short {
  display: block;
}
.nav-foot .nav-controls .nav-control:last-child .sub-control-list {
  right: 0;
}
.nav-foot .nav-controls .nav-control:first-child .sub-control-list {
  left: 0;
}
.nav-foot .nav-controls .nav-control .sub-control-list,
.nav-foot .nav-controls .nav-control .sub-control-list-short {
  background-color: #f4f4f4;
  position: absolute;
  display: none;
  top: 100%;
}
.nav-foot .nav-controls .nav-control .sub-control-list .sub-item,
.nav-foot .nav-controls .nav-control .sub-control-list-short .sub-item {
  padding: 18px 14px 18px 30px;
  width: 33.3333333333%;
  transition: 0.25s;
  text-indent: 26px;
  position: relative;
  color: #000000;
}
.nav-foot .nav-controls .nav-control .sub-control-list .sub-item:before,
.nav-foot .nav-controls .nav-control .sub-control-list-short .sub-item:before {
  content: "";
  display: inline-block;
  transition: 0.25s;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: var(--disabled-color);
  position: absolute;
  top: 50%;
  left: 34px;
  transform: translateY(-50%);
}
.nav-foot .nav-controls .nav-control .sub-control-list .sub-item:hover,
.nav-foot .nav-controls .nav-control .sub-control-list-short .sub-item:hover {
  color: var(--nav-color);
}
.nav-foot .nav-controls .nav-control .sub-control-list .sub-item:hover:before,
.nav-foot .nav-controls .nav-control .sub-control-list-short .sub-item:hover:before {
  background-color: var(--nav-color);
}
.nav-foot .nav-controls .nav-control .sub-control-list.ecosystem .sub-item,
.nav-foot .nav-controls .nav-control .sub-control-list-short.ecosystem .sub-item {
  width: 25%;
}
.nav-foot .nav-controls .nav-control .sub-control-list-short {
  position: absolute;
  top: 100%;
  left: -50%;
}
.nav-foot .nav-controls .nav-control .sub-control-list-short .sub-item {
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 30px;
}
.nav-foot .nav-more-ic {
  margin-left: 8px;
  width: 8px;
  height: 6px;
  fill: var(--defaul-text-color);
}
.nav-foot .sub-actions {
  display: flex;
  opacity: 0;
  visibility: hidden;
  align-items: center;
}
.nav-foot .sub-actions .change-lang {
  margin-left: 30px;
  cursor: pointer;
  padding: 12px;
  display: flex;
  align-items: center;
  position: relative;
}
.nav-foot .sub-actions .change-lang .lang {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 0 12px 0 8px;
}
.nav-foot .sub-actions .change-lang .more-ic {
  width: 12px;
  fill: var(--defaul-text-color);
  height: 7px;
}

.lang-options {
  position: fixed;
  background-color: #fff;
  padding: 8px 0;
  z-index: 5;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.1411764706), 0 3px 14px 2px rgba(0, 0, 0, 0.1215686275);
  border-radius: 5px;
}
.lang-options .lang-items {
  cursor: pointer;
  padding: 12px 18px;
  transition: 0.25s;
}
.lang-options .lang-items:hover {
  background-color: #f5f5f5;
  color: var(--nav-color);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.295);
  z-index: 10;
}

.learn-btn {
  width: 176px;
  margin-top: 41px;
}

.text-mt {
  margin-top: 41px;
  line-height: 36px;
}

.w-95 {
  width: 95%;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.contact-us-btn {
  width: 176px;
  margin-top: 30px;
}

.slideshow {
  position: relative;
}
.slideshow #swiper-prev {
  left: 0;
}
.slideshow #swiper-next {
  right: 0;
}
.slideshow .swiper-controls-btn {
  position: absolute;
  top: 130px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}
.slideshow .swiper-controls-btn:hover {
  background-color: #f4f4f4;
}

.swiper {
  height: 300px;
  padding: 45px 10px 0 10px;
}
.swiper .swiper-wrapper {
  padding: 0 12px;
}
.swiper .swiper-slide {
  width: calc(23% - 7px);
}
.swiper .hl-item {
  width: 208px;
  height: 177px;
  padding: 36px 0 21px 0;
  background: #ffffff;
  border-radius: 3px;
  filter: drop-shadow(0 2px 7px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s;
}
.swiper .hl-item .slide-title {
  padding-top: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #616161;
}
.swiper .hl-item:hover {
  transform: translateY(-3px);
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paginator .page-index,
.paginator .page-nav {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: 0.2s;
  cursor: pointer;
}
.paginator .page-index:hover,
.paginator .page-nav:hover {
  background-color: var(--hover-bg-default);
}
.paginator .current {
  color: #fff;
  background-color: rgb(19, 137, 253);
}

.tjex-ecosystem {
  width: 1000px;
  height: 1000px;
  position: relative;
  background-image: url("/tjt_ws/assets/images/h_ecosystem.svg");
}
.tjex-ecosystem .circle {
  border: 1px solid rgba(189, 189, 189, 0.3);
  border-radius: 50%;
  position: absolute;
}
.tjex-ecosystem .circle.outside {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.tjex-ecosystem .circle.between {
  width: 600px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 9px 34px 5px rgba(159, 159, 159, 0.3);
}
.tjex-ecosystem .tjex-description {
  width: 606px;
  color: #212121;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.tjex-ecosystem .tjex-description .header {
  margin-bottom: 40px;
}

#rounded-container {
  position: relative;
  width: 100%; /* Adjust the width and height as per your requirements */
  height: 100%;
  margin: 0 auto; /* Center the container horizontally */
  transform: rotate(54deg);
}

.around-item {
  position: absolute;
  transform: rotate(-54deg);
  width: 56px; /* Adjust the width and height of the squares as per your requirements */
  height: 56px;
  border-radius: 50%; /* Optional: Add border radius for rounded corners */
}
.around-item .iw {
  position: relative;
}
.around-item .iw .rounded-content {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: var(--text-intro-plain);
}
.around-item .iw .rounded-content.rounded-content-left {
  right: calc(100% + 22px);
}
.around-item .iw .rounded-content.rounded-content-right {
  left: calc(100% + 22px);
}

.wcu {
  position: relative;
}
.wcu .deep-bg {
  position: absolute;
  top: -490px;
  left: 0;
  z-index: -1;
}
.wcu .g-header {
  margin-bottom: 40px;
}
.wcu .desc-list {
  margin-top: 33px;
}
.wcu .desc-list .item {
  padding: 13px 0 13px 48px;
  position: relative;
}
.wcu .desc-list .item:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url("/tjt_ws/assets/images/ic_tick.svg");
}

.wwa {
  margin: 120px 0;
  width: 686px;
}
.wwa .g-header {
  margin-bottom: 40px;
}
.wwa .g-detail {
  padding: 0 40px;
}

.wwa-list {
  margin: 0 -16px;
}
.wwa-list .wwa-item {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 42px 32px 30px 32px;
  width: calc(33.3333333333% - 16px);
  margin: 0 16px;
}
.wwa-list .wwa-item .header {
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  color: #000000;
  margin-left: 26px;
}
.wwa-list .wwa-item .detail {
  margin-top: 26px;
  color: #616161;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.personnel-box {
  margin-top: 216px;
  position: relative;
}
.personnel-box:after {
  content: "";
  display: block;
  position: absolute;
  top: -82px;
  right: 0;
  z-index: -1;
  background-image: url("/tjt_ws/assets/images/t_personnel.svg");
  width: 1160px;
  height: 754px;
  background-repeat: none;
}
.personnel-box .avatar-description {
  padding-left: 100px;
  position: relative;
}
.personnel-box .avatar-description .decorator-1 {
  position: absolute;
  bottom: -98px;
  left: -53px;
}
.personnel-box .avatar-description .decorator-2 {
  position: absolute;
  bottom: -21px;
  right: -53px;
}
.personnel-box .g-detail {
  margin: 40px 0;
}
.personnel-box .personnel-name {
  color: #0080e9;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}
.personnel-box .personnel-position {
  margin-top: 10px;
  color: #000000;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}
.personnel-box .actions {
  margin-top: 40px;
}
.personnel-box .actions .personnel-btn {
  width: 72px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3e96fc;
  border-radius: 3px;
  background: transparent;
  transition: background 1s;
}
.personnel-box .actions .personnel-btn .ic-btn {
  transition: 0.25s;
  fill: #3e96fc;
  width: 22px;
  height: 16px;
}
.personnel-box .actions .personnel-btn:hover {
  background: linear-gradient(90deg, #80baf9 -13.29%, #0080e9 110.76%);
}
.personnel-box .actions .personnel-btn:hover .ic-btn {
  fill: #fff;
}
.personnel-box .actions .personnel-btn:last-child {
  margin-left: 32px;
}

.building {
  transform: translateX(-80px);
}

.ctu-detail {
  margin-top: 125px;
  margin-left: 100px;
}
.ctu-detail .g-detail {
  padding-right: 30px;
}

.leave-info {
  transform: translateY(110px);
  padding: 28.5px 98px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: #ffffff;
}
.leave-info .info {
  width: 404px;
}
.leave-info .g-detail {
  margin-top: 5px;
}
.leave-info .subs-btn {
  width: 176px;
  height: 60px;
}
.leave-info #leave-mail {
  height: 60px;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  width: calc(100% - 404px - 176px - 56px);
  padding: 0 20px;
}
.leave-info #leave-mail::-moz-placeholder {
  color: #616161;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.leave-info #leave-mail::placeholder {
  color: #616161;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.tjex-footer {
  background: #eefaff;
  box-shadow: 0px -12px 40px 26px #eefaff;
  padding-top: 150px;
  margin-top: 120px;
}
.tjex-footer .copy-right {
  padding: 36px 0;
  border-top: 1px solid #d8d8d8;
  /* display: flex;
    align-items: center;
    justify-content: center; */
}
.tjex-footer .footer-info {
  transform: translateY(-60px);
}
.tjex-footer .footer-info .description {
  margin-top: 32px;
}
.tjex-footer .footer-info .contact-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  margin-top: 30px;
}
.tjex-footer .footer-info .contact-item img {
  padding-right: 10px;
}
.tjex-footer .footer-info .title {
  color: #000000;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  padding-bottom: 32px;
}
.tjex-footer .footer-info .foot-nav {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 10px 0;
  width: 100%;
  cursor: pointer;
  display: inline-block;
  transition: 0.25s;
}
.tjex-footer .footer-info .foot-nav:hover {
  color: var(--nav-color);
}

.crm-service .sbd {
  margin-top: 130px;
  margin-bottom: 49px;
}
.crm-service .s-leading .figure {
  margin-right: 0;
}
.crm-service .s-leading .figure .image-shadow {
  height: calc(100% - 60px);
  width: calc(100% - 70px);
}
.crm-service .s-leading .figure .main-image {
  left: 1rem !important;
  right: unset !important;
}
.crm-service .figure {
  position: relative;
}
.crm-service .figure .image-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 90px);
  height: calc(100% - 50px);
  background: #effbff;
  filter: blur(15px);
}
.crm-service .figure .image-shadow.right {
  left: unset !important;
  right: 0;
}
.crm-service .figure .main-image {
  position: absolute;
  right: 1rem;
  bottom: 0;
}
.crm-service .descriptor-item {
  padding: 42px 28px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}
.crm-service .descriptor-item img {
  margin-right: 20px;
}
.crm-service .descriptor-item .detail {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #212121;
}

.system-development .leading .figure {
  margin-right: 0;
}
.system-development .leading .figure .image-shadow {
  right: 0;
}
.system-development .leading .figure .main-image {
  left: 0;
}

.consultation-service .figure .image-shadow {
  width: 70%;
  left: unset;
}
.ecs-title {
  color: #0080e9;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 48px;
  text-transform: uppercase;
}

.ecosys-theme .ecosys-leading {
  margin-bottom: 54px;
}
.ecosys-theme .short-description {
  color: #0080e9;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.ecosys-theme .tt-spacing {
  margin-top: 103px;
}
.ecosys-theme .recipe-box {
  margin: 60px 70px;
  border: 1px solid #bababa;
  border-radius: 5px;
  padding: 42.5px 49px;
  color: #212121;
  font-weight: 500;
  font-size: 25px;
  line-height: 44px;
}

.search-form {
  margin-top: 76px;
}

.faq-search-box {
  display: flex;
  width: 100%;
}
.faq-search-box button {
  color: #e8f2ff;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  background: #104cba;
  border-radius: 0px 5px 5px 0px;
  width: 178px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.faq-search-box input {
  flex: 1;
  border-top: 1px solid rgba(227, 227, 227, 0.6);
  border-left: 1px solid rgba(227, 227, 227, 0.6);
  border-bottom: 1px solid rgba(227, 227, 227, 0.6);
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 50px;
  font-size: 24px;
}
.faq-search-box input::-moz-placeholder {
  color: #1b1c31;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.4;
}
.faq-search-box input::placeholder {
  color: #1b1c31;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.4;
}
.faq-search-box input:focus-visible {
  outline: none;
  border-top: 1px solid #104cba;
  border-left: 1px solid #104cba;
  border-bottom: 1px solid #104cba;
}

.faq-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 88px;
}
.faq-list .faq-item {
  width: calc(50% - 16px);
  margin: 18px 0;
  height: 122px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.25s;
}
.faq-list .faq-item img {
  margin: 0 32px 0 55px;
}
.faq-list .faq-item:nth-child(even) {
  margin-left: 32px;
}
.faq-list .faq-item:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.faq-panel {
  /* &:last-child .faq-panel-header {
     border-bottom: 0 !important;
   } */
}
.faq-panel .faq-panel-header {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  padding: 16px 0;
  position: relative;
  border-bottom: 3px solid rgba(205, 214, 218, 0.25);
  padding-right: 30px;
}
.faq-panel .faq-panel-body {
  transition: height 0.2s;
  height: 0;
  overflow: hidden;
}
.faq-panel .faq-panel-body.expand {
  border-bottom: 3px solid rgba(205, 214, 218, 0.25);
}
.faq-panel .faq-panel-body .content {
  padding: 16px 24px 32px 24px;
}
.faq-panel .fqa-button {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  position: absolute;
  top: 21px;
  right: 0;
}
.faq-panel .fqa-button.expand svg {
  transform: rotate(0);
}
.faq-panel .fqa-button svg {
  transition: 0.2s;
  width: 13px;
  height: 13px;
  transform: rotate(45deg);
}
.faq-panel .fqa-button:hover {
  background-color: var(--hover-bg-default);
}

.ns-theme .divider {
  margin: 107px 0 52px 0;
}
.ns-theme .news-box {
  display: flex;
  margin-top: 76px;
}
.ns-theme .news-box .preview-box img {
  width: 100%;
  margin-bottom: 32px;
}
.ns-theme .news-box .preview-box.story-item {
  position: relative;
}
.ns-theme .news-box .preview-box.story-item a {
  position: absolute;
  bottom: 0;
  left: 0;
}
.ns-theme .news-box .info {
  padding-left: 33px;
}
.ns-theme .news-box .info .title {
  margin-top: -10px;
}
.ns-theme .news-box .title {
  color: #000000;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
}
.ns-theme .news-box .detail {
  color: #212121;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 40px;
}
.ns-theme .news-box .list-box .new-item {
  display: flex;
  align-items: start;
  margin-bottom: 30px;
}
.ns-theme .news-box .list-box .new-item:last-child {
  margin-bottom: 0;
}
.ns-theme .news-box .nav-detail {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  background-color: transparent;
}
.ns-theme .news-box .nav-detail svg {
  width: 10px;
  height: 10px;
  margin-left: 10px;
}
.ns-theme .stories-style {
  margin: 0 -16px;
  display: flex;
  flex-wrap: wrap;
}
.ns-theme .stories-style .story-item {
  width: calc(33.3333333333% - 32px);
  margin: 0 16px;
  margin-bottom: 42px;
}

.date-time {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 5px;
  display: none;
}

.about-content {
  color: #616161;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-right: 32px;
}

.reports {
  margin: 104px 0;
}
.reports .report-item {
  width: 33.3333333333%;
  padding: 0 33px;
}
.reports .report-item .header {
  color: #0080e9;
  font-weight: 600;
  font-size: 40px;
  line-height: 24px;
  margin-bottom: 59px;
}
.reports .middle-item {
  border-left: 1px solid #bababa;
  border-right: 1px solid #bababa;
}

.head-figure {
  width: 50%;
}
.head-figure img {
  width: 100%;
}
.head-figure .double-quote {
  position: absolute;
  top: 0;
  right: -104px;
}

.head-content {
  padding-top: 50px;
  flex: 1;
  padding-left: 104px;
  color: #616161;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
}

.pnt .ecs-title {
  margin-top: 40px;
}

.leave-form {
  padding: 56px 32px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.leave-form .map {
  padding-right: 12px;
}
.leave-form .map iframe {
  width: 100%;
}
.leave-form .map iframe html {
  display: none;
}
.leave-form .map iframe .place-card.place-card-large {
  display: none;
}
.leave-form .contact-info {
  display: flex;
  padding-bottom: 16px;
}
.leave-form .contact-info .lead-ic {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 8px;
}
.leave-form .c-title {
  color: #616161;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
.leave-form .form-box button[type=submit] {
  width: 100%;
  background: linear-gradient(90deg, #80baf9 -13.29%, #0080e9 110.76%);
  border-radius: 5px;
  padding: 8px 32px;
  font-weight: 500;
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 38px;
}
.leave-form .form-control-box {
  margin-top: 32px;
}
.leave-form .form-control-box .text-input {
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  padding: 9px;
  border: 1px solid #d8d8d8;
  margin-top: 16px;
  transition: 0.2s;
  border-radius: 3px;
}
.leave-form .form-control-box .text-input:focus-visible {
  outline: 0;
  box-shadow: 0 0 3px 1px var(--nav-color);
}

.nav-footer-theme .g-detail,
.nav-footer-theme .g-title {
  margin-bottom: 30px;
}
.nav-footer-theme .key-style {
  font-weight: 400;
  font-style: italic;
  font-size: 22px;
  line-height: 28px;
  color: var(--nav-color);
}

.spc-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 24px;
}

.spc-detail {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-right: 17%;
}

.feedback-tickets {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.feedback-tickets .ticket {
  margin: 38.5px 15px;
  width: calc(33.3333333333% - 30px);
  padding: 20px;
  transition: 0.25s;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  min-height: 384px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feedback-tickets .ticket:hover {
  background-color: #0080e9;
}
.feedback-tickets .ticket:hover .content,
.feedback-tickets .ticket:hover .author,
.feedback-tickets .ticket:hover .sub {
  color: #fff;
}
.feedback-tickets .ticket .content {
  transition: 0.25s;
  margin-top: 16px;
  color: #7d7e7e;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.feedback-tickets .ticket .author {
  color: #616161;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}
.feedback-tickets .ticket .sub {
  color: #616161;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.vote {
  fill: #ededed;
  width: 38px;
  height: 38px;
  margin-right: 15px;
}
.vote.voted {
  fill: #ffd05a;
}

/* responsive */
.img-home-nav {
  width: 100%;
}

.wcu-mb,
.slmb,
.mb-inp {
  display: none;
}

.nav-items-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  padding-top: 13px;
  margin-bottom: 53px;
}
.nav-items-main:hover .ticked-box {
  display: block;
}
.nav-items-main:hover .tick-box {
  display: none;
}
.nav-items-main .content {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: var(--text-intro-plain);
  padding-top: 28px;
}
.nav-items-main .ticked-box {
  display: none;
}
.nav-items-main .tick-icon {
  width: 56px;
  height: 56px;
}

.main-navs,
.bg-mb,
.decorator-1-mb,
#nav-mb,
.d-mb-none {
  display: none;
}

#nav-mb {
  padding: 19px 0;
}
#nav-mb .btn-mb-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
}
#nav-mb .btn-mb-menu:hover {
  background-color: #d4d4d4;
}

.mb-menu-drawer {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  transition: 0.25s;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 20;
}
.mb-menu-drawer.nav-head {
  display: block;
  height: 100%;
}
.mb-menu-drawer.nav-head.menu-expanded {
  visibility: visible;
  opacity: 1;
}
.mb-menu-drawer.nav-head.menu-expanded .drawer-body {
  transform: translateX(0);
}
.mb-menu-drawer .drawer-body {
  width: 306px;
  height: 100%;
  background-color: #fff;
  transition: 0.25s;
  transform: translateX(-100%);
}
.mb-menu-drawer .content-box {
  height: calc(100% - 108px);
  overflow: auto;
}
.mb-menu-drawer .content-box .faq-panel .faq-panel-header,
.mb-menu-drawer .content-box .faq-panel .faq-panel-body.expand {
  border-bottom: 0;
}
.mb-menu-drawer .content-box .faq-panel .faq-panel-body .x-collapse .content {
  padding: 0;
}
.mb-menu-drawer .content-box .faq-panel .faq-panel-body .x-collapse .content .nav-link-item {
  cursor: pointer;
  display: block;
  padding: 10px 0 10px 86px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  position: relative;
  transition: 0.2s;
  color: #646464;
}
.mb-menu-drawer .content-box .faq-panel .faq-panel-body .x-collapse .content .nav-link-item:hover {
  color: #0080e9;
}
.mb-menu-drawer .content-box .faq-panel .faq-panel-body .x-collapse .content .nav-link-item:hover::after {
  background: #0080e9;
}
.mb-menu-drawer .content-box .faq-panel .faq-panel-body .x-collapse .content .nav-link-item::after {
  transition: 0.2s;
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #bababa;
  border-radius: 3px;
}
.mb-menu-drawer .content-foot .hotline {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #212121;
  text-align: center;
}
.mb-menu-drawer .content-foot .actions-box {
  height: 80px;
  display: flex;
  align-items: center;
}
.mb-menu-drawer .menu-parent-button {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding-left: 27px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}
.mb-menu-drawer .menu-parent-button.expand {
  color: #0080e9;
}
.mb-menu-drawer .menu-parent-button.expand .ivo-icon {
  fill: #0080e9;
  transform: rotate(90deg);
}
.mb-menu-drawer .menu-parent-button .ivo-icon {
  transition: 0.25s;
  margin-left: 12px;
  width: 8px;
  height: 13px;
  fill: #000;
}
.mb-menu-drawer .btn-mn-close {
  position: absolute;
  top: 28px;
  right: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: transparent;
  cursor: pointer;
}

.coml-first-img {
  text-align: center;
  display: none;
}

@media screen and (max-width: 660px) {
  .personnel-box {
    margin-top: 80px;
  }
  .personnel-box .avatar-description {
    width: calc(100% - 140px);
  }
}
@media screen and (max-width: 768px) {
  .container.ns-theme hr.divider {
    margin: 35px 0;
  }
  .g-header.text-center.ecosys-leading {
    margin: 37px 0 !important;
  }
  .news-box.stories-style .preview-box.story-item {
    width: calc(50% - 32px);
  }
  .faq-list .faq-item {
    width: 100%;
  }
  .faq-list .faq-item:nth-child(even) {
    margin-left: 0;
  }
  .tt-spacing {
    margin-top: 40px !important;
  }
  #nav-mb {
    display: block;
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: #fff;
    box-shadow: 0 1px 29px -24px grey;
  }
  .main-nav,
  .nav-foot,
  .deep-bg,
  .img-before,
  .bg-pc,
  .decorator-1 {
    display: none;
  }
  .ecosys-theme {
    padding-top: 36px !important;
    margin-top: 0 !important;
  }
  .crm-service {
    padding-top: 0 !important;
  }
  .crm-service .text-intro {
    margin-top: 0 !important;
    white-space: pre-wrap !important;
  }
  .button-mb-center {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 57px;
  }
  .slmb,
  .main-navs {
    display: block;
  }
  .nav-main {
    display: none !important;
  }
  .header-mb-center,
  .text-mb-center {
    text-align: center;
  }
  .box-mb-vertical-center {
    display: flex;
    justify-content: center;
  }
  .wwa {
    margin: 80px 0 40px 0;
  }
  .wcu-mb {
    display: block;
  }
  .wcu-mb .deep-bg {
    display: block;
    height: 434px;
    width: 416px;
    top: -90px;
  }
  .personnel-box {
    margin-top: 80px;
  }
  .personnel-box .avatar-description #personalsrc {
    width: 100%;
  }
  .personnel-box .avatar-description .decorator-2 {
    right: -130px;
  }
  .personnel-box .decorator-1-mb {
    display: block;
    position: absolute;
    bottom: -70px;
    left: -75px;
    width: 120px;
  }
  .personnel-box .decorator-1 {
    display: none;
  }
  .personnel-box .actions {
    justify-content: center;
    margin-bottom: 40px;
  }
  .personnel-box .avatar-description {
    padding-left: 0;
  }
  .ctu-detail {
    margin: 0;
  }
  .bg-mb {
    display: block;
    position: relative;
  }
  .bg-mb:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    z-index: -1;
    background-color: #dff9ff;
    border-radius: 50%;
    filter: blur(40px);
  }
  .bg-mb .building {
    width: 548px;
    height: 526px;
    transform: translateX(-10%);
  }
  .slideshow.slmb .swiper .swiper-slide .hl-item {
    height: 186px;
    width: calc(100% - 19px);
  }
  .slideshow.slmb .swiper .swiper-slide .hl-item .img-box {
    width: 84px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slideshow.slmb .swiper .swiper-slide .hl-item .slide-title {
    text-align: center;
  }
  .ctu-detail .g-detail {
    padding-right: 0;
  }
}
.faq-social-link {
  display: block;
  padding: 5px 0 5px 12px;
}

@media screen and (max-width: 991px) {
  .feedback-tickets .ticket {
    width: calc(50% - 33px);
    margin-bottom: 0;
    margin-top: 33px;
  }
  .tp2 {
    padding-top: 70px;
  }
  .leave-form .title.t2 {
    padding-top: 64px;
  }
  .leave-form .map {
    padding-right: 0;
  }
  .ecosys-theme.pnt {
    padding-top: 0;
  }
  .about-head {
    flex-direction: column-reverse;
  }
  .about-head .about-content {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .reports {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .reports .report-item {
    margin-top: 70px;
    width: 100%;
    padding: unset;
  }
  .reports .report-item .header {
    margin-bottom: 30px;
  }
  .reports .report-item.middle-item {
    border: none;
  }
  .about-end {
    flex-direction: column;
  }
  .about-end .head-content {
    color: #616161;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    padding-left: 0;
    padding-top: 110px;
  }
  .about-end .head-figure .double-quote {
    top: calc(100% + 30px);
    left: 0;
  }
  .mb-inp {
    display: block;
    padding-left: 10px !important;
  }
  .faq-search-box button {
    height: 48px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    min-width: 101px;
    max-width: 101px;
    width: 101px;
    background: #0080e9;
  }
  .text-intro {
    position: relative;
  }
  .personnel-box .actions {
    margin-bottom: 40px;
  }
  .nav-foot .sub-actions,
  .pc-inp,
  .coml-none {
    display: none;
  }
  .wwa-list {
    flex-direction: column;
  }
  .wwa-list .wwa-item {
    flex: 1 1 auto;
    width: auto;
    margin-bottom: 40px;
  }
  .crm-service .leading .figure {
    margin-bottom: 40px;
    height: 538px;
  }
  .crm-service .leading .figure .main-image {
    height: 498px;
    left: 50%;
    transform: translateX(-50%);
  }
  .crm-service .leading .figure .image-shadow {
    width: 385px;
    left: 50%;
    transform: translateX(-80%);
  }
  .coml-first-img {
    display: block;
    margin-bottom: 40px;
    position: relative;
  }
  .coml-first-img:after {
    content: "";
    position: absolute;
    top: -24px;
    left: 25%;
    width: 100%;
    height: 100%;
    background: #effbff;
    z-index: -1;
    filter: blur(15px);
  }
  .coml-first-img img {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .slpc {
    display: none;
  }
  .swiper .hl-item {
    width: calc(100% - 24px);
  }
  .slmb {
    display: block;
  }
  .leave-info {
    padding: 0;
    margin-top: 80px;
    flex-direction: column;
    background: unset;
    box-shadow: unset;
  }
  .leave-info #leave-mail {
    margin-bottom: 25px;
  }
  .leave-info #leave-mail,
  .leave-info .info {
    width: 100%;
  }
  .leave-info .info {
    margin-bottom: 40px;
  }
  .footer-info .title,
  .footer-info .foot-nav {
    padding-left: 0 !important;
  }
  .footer-info .title {
    padding-bottom: 13px !important;
  }
  .footer-info .mb-foot-nav {
    margin-top: 70px;
  }
}
@media screen and (max-width: 610px) {
  .text-intro {
    white-space: pre-wrap !important;
  }
  .feedback-tickets .ticket {
    width: calc(100% - 33px);
    margin-bottom: 0;
    margin-top: 15px;
  }
}
@media screen and (max-width: 580px) {
  .head-figure {
    width: 100%;
  }
  .head-figure img {
    width: inherit;
  }
  .coml-first-img img {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .news-box.stories-style .preview-box.story-item {
    display: flex;
    width: calc(100% - 32px);
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .news-box.stories-style .preview-box.story-item.careers-post {
    flex-direction: column;
  }
  .news-box.stories-style .preview-box.story-item.careers-post img {
    width: 100%;
    height: 261px;
  }
  .news-box.stories-style .preview-box.story-item img {
    width: calc(50% - 9px);
    height: 160px;
    margin-bottom: 0;
  }
  .news-box.stories-style .preview-box.story-item .content {
    width: calc(50% - 9px);
  }
  .news-box.stories-style .preview-box.story-item .content a {
    position: unset;
  }
  .news-box.stories-style .preview-box.story-item .content .title {
    line-height: 25px;
  }
  .news-box.stories-style .preview-box.story-item .content .detail {
    display: none;
  }
  .news-box.stories-style .preview-box.story-item .content .nav-detail {
    margin-top: 15px;
    display: block;
  }
  .bg-mb .building {
    width: 100%;
  }
  .text-intro-explain {
    white-space: pre-wrap !important;
  }
}
@media screen and (max-width: 438px) {
  .crm-service .leading .figure {
    height: 400px;
  }
  .crm-service .leading .figure .main-image {
    width: calc(100% - 40px);
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */