extends ../main-layout
block headAppendTitle
    title TJ Tech - About

block content
    .container.ns-theme
        .row
            .col-12.col-lg-5.mt-5
                .text-intro.text-nowrap.pt-lg-5
                    | Discover Our Open
                    br
                    |Positions Now
                .button-mb-center
                    a(href="contact.html")
                        button.btn-base.learn-btn Learn More
            .col-12.col-lg-7
                img(style='width: 100%;' src='assets/images/t_company.svg' alt='')
        .g-header.text-center.ecosys-leading.head-spacing About Us
        .about-head.row
            .about-content.a-content.col-12.col-lg-5
                | TJ Tech Singapore was founded in 2017 by Mr. Takashi &lsquo;&rsquo;TJ&rsquo;&rsquo; Matsumoto, a dedicated entrepreneur with a passion for technology and had a vision of creating a company that would focus on developing innovative software solutions for businesses of all sizes.
                br
                br
                |         In its early years, TJ Tech Company primarily offered customer relationship management (CRM) software to small financial exchanges. As the company began to grow, it expanded its offerings such as plugins and add-ons development, price feeding, liquidity provider bridging, system maintenance service and so forth.
            img.a-figure.col-12.col-lg-7(src='assets/images/p_about_1.png' alt='')
        .reports.d-flex
            .report-item
                .header By 2019
                .about-content
                    | The second branch, TJ Tech Vietnam, was established to seize the chance of a rising crypto and forex trading trend and national available human resources. In a short period of time, TJ Tech Group had grown its client base including medium-sized companies. As the company expanded its operations, it recruited more senior managers for high-level roles.
            .report-item.middle-item
                .header In 2022
                .about-content
                    | TJ Tech Company made a breakthrough in the fintech industry with the launch of its 24/5 Customer Support service. This independent team revolutionized the way the clients&rsquo; financial exchanges communicated with users, and quickly became the industry standard. With the accurate orientation and guidance of leaders, the efficiency of this department has been constantly enhanced to meet 90% satisfied email response rate from clients
            .report-item
                .header Over the years
                .about-content
                    | TJ Tech Vietnam continued to innovate and expand its offerings. To date, competitive system development services are one of the core businesses. In the same year (2022), the company relocated to the Capital Place Building, which enabled it to double the office area to meet the demand for new clients.
        .about-end.d-flex
            .head-figure.position-relative
                svg.double-quote(width='64' height='50' viewbox='0 0 64 50' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M0.742188 49.7773V35.9102C0.742188 31.7435 1.49089 27.4466 2.98828 23.0195C4.55078 18.5273 6.66667 14.2956 9.33594 10.3242C12.0052 6.28776 14.9674 2.86979 18.2227 0.0703125L30.625 7.49219C28.151 11.5286 26.0677 15.793 24.375 20.2852C22.6823 24.7773 21.8359 29.9531 21.8359 35.8125V49.7773H0.742188ZM33.3594 49.7773V35.9102C33.3594 31.7435 34.1081 27.4466 35.6055 23.0195C37.168 18.5273 39.2839 14.2956 41.9531 10.3242C44.6224 6.28776 47.5846 2.86979 50.8398 0.0703125L63.2422 7.49219C60.7682 11.5286 58.6849 15.793 56.9922 20.2852C55.2995 24.7773 54.4531 29.9531 54.4531 35.8125V49.7773H33.3594Z' fill='#0080E9')
                img(src='assets/images/p_about_2.png')
            .head-content
                | Today, TJ Tech Company is one of the most respected fintech companies in the world, with a global client base and a reputation for developing cutting-edge software solutions. The company continues to push the boundaries of technology and is committed to delivering value to its clients through innovative and effective solutions.
