extends ../main-layout

block headAppendTitle
    title TJ Tech - Careers

block content
    .container.ns-theme
        .row
            .col-12.col-lg-5.mt-5
                .text-intro.text-nowrap.pt-lg-5
                    | Discover Our Open
                    br
                    |Positions Now
                .button-mb-center
                    a(href="contact.html")
                        button.btn-base.learn-btn Learn More
            .col-12.col-lg-7
                img(style='width: 100%;' src='assets/images/t_company.svg' alt='')
        .g-header.text-center.ecosys-leading(style='margin: 121px 0 80px 0;') DevOps Engineer (Expats Hiring)
        .g-details
            | Work Location: Ha Noi, Ho Chi Minh, Da Nang
            br
            | Job Summary (About this opportunity/project)
            br
            | • Build advanced architecture in AWS and manage containers at scale in Kubernetes.• Work on the build, test, deploy and run of a cloud native online banking platform.
            br
            | Duties and Responsibilities
            br
            | • Develop efficient CI/CD pipelines
            br
            | • Develop tools to deploy containers
            br
            | • Create Kubernetes operators
            br
            | • Understanding of SAST and DAST
            br
            | • Use container technologies for microservices and databases.
            br
            | • Practice GitOps model to manage deployments of microservices, jobs, tools and workflow
            br
            | Job Qualification
            br
            | • 5+ years of experience with Cloud technology
            br
            | • Hands on Experience on Docker, Kubernetes, Helm is a must
            br
            | • Experienced in Java, and ideally Golang• Experience of Agile/Scrum development methodologies is a plus
            br
            | • Experience in a few of the technologies: Elastic Search, Cassandra, Hadoop, Mongo DB, Spark, Kafka• Nice to have experience in distributed data processing, API gateway, OIDC
            br
            | • Nice to have experience with ArgoCD or spinnaker• Knowledge of retail banking is a plus
            br
            | • Be nice, respectful, able to work in a team
            br
            | Benefits
            br
            | • Relocation Allowance Package (1 week accommodation + Flight ticket + Work Permit + Visa)
            br
            | • Annual Summer Vacation: follows company’s policy and starts from May every year
            br
            | • Salary review 2 times/year or on excellent performance• International, dynamic, friendly working environment• Annual leave, working conditions follow Vietnam labor laws.
            br
            | • Other allowances: lunch allowance, working on-site allowance, etc.
        hr.divider
        .g-header.text-center.ecosys-leading(style='margin-bottom: 72px;') Related Jobs
        .news-box.stories-style
            .preview-box.story-item
                img(src='assets/images/new_preview.png' alt='')
                .content
                    .title Sales Executive – CMC
                    .detail
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    a.nav-detail(href='blog-detail.html?q=0')
                        | Read Post
                        svg
                            use(href='#goto-detail')
            .preview-box.story-item
                img(src='assets/images/new_preview.png' alt='')
                .content
                    .title Embedded Software Engineer
                    .detail
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    a.nav-detail(href='blog-detail.html?q=2')
                        | Read Post
                        svg
                            use(href='#goto-detail')
            .preview-box.story-item
                img(src='assets/images/new_preview.png' alt='')
                .content
                    .title QA Technical Leader
                    .detail
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    a.nav-detail(href='blog-detail.html?q=4')
                        | Read Post
                        svg
                            use(href='#goto-detail')

