extends ../main-layout

block headAppendTitle
    title TJ Tech - Careers

block content
    .container.ns-theme
        .row
            .col-12.col-lg-5.mt-5
                .text-intro.text-nowrap.pt-lg-5
                    | Discover Our Open
                    br
                    |Positions Now
                .button-mb-center
                    a(href="contact.html")
                        button.btn-base.learn-btn Learn More
            .col-12.col-lg-7
                img(style='width: 100%;' src='assets/images/t_company.svg' alt='')
        .g-header.text-center.ecosys-leading(style='margin: 121px 0 80px 0;') Careers
        .news-box.stories-style
            .preview-box.story-item.careers-post
                img(src='assets/images/new_preview.png' alt='')
                .title Travelling as a way of self-discovery and progress
                .detail
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                a.nav-detail(href='career-detail.html?q=0')
                    | Read Post
                    svg
                        use(href='#goto-detail')
            .preview-box.story-item.careers-post
                img(src='assets/images/new_preview.png' alt='')
                .title Travelling as a way of self-discovery and progress
                .detail
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                a.nav-detail(href='career-detail.html?q=0')
                    | Read Post
                    svg
                        use(href='#goto-detail')
            .preview-box.story-item.careers-post
                img(src='assets/images/new_preview.png' alt='')
                .title Travelling as a way of self-discovery and progress
                .detail
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                a.nav-detail(href='career-detail.html?q=0')
                    | Read Post
                    svg
                        use(href='#goto-detail')
            .preview-box.story-item.careers-post
                img(src='assets/images/new_preview.png' alt='')
                .title Travelling as a way of self-discovery and progress
                .detail
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                a.nav-detail(href='career-detail.html?q=0')
                    | Read Post
                    svg
                        use(href='#goto-detail')
            .preview-box.story-item.careers-post
                img(src='assets/images/new_preview.png' alt='')
                .title Travelling as a way of self-discovery and progress
                .detail
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                a.nav-detail(href='career-detail.html?q=0')
                    | Read Post
                    svg
                        use(href='#goto-detail')
            .preview-box.story-item.careers-post
                img(src='assets/images/new_preview.png' alt='')
                .title Travelling as a way of self-discovery and progress
                .detail
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                a.nav-detail(href='career-detail.html?q=0')
                    | Read Post
                    svg
                        use(href='#goto-detail')
        //#tjt-paginator.paginator
            button.page-nav.me-4
                svg(width='8' height='14' viewbox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M6.66602 12.3337L1.33268 7.00033L6.66602 1.66699' stroke='#212121' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
            button.page-index 1
            button.page-index 2
            button.page-index 3
            button.page-nav.ms-4
                svg(width='8' height='14' viewbox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M1.33398 12.3337L6.66732 7.00033L1.33398 1.66699' stroke='#212121' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
