extends ../main-layout

block headAppendTitle
    title TJ Tech - Career Detail

block headAppend
    script(src="https://unpkg.com/vue@3/dist/vue.global.prod.js")
    
block scriptFootAppend
    script(src="assets/scripts/job-detail.js" defer)

block content
    .container.ns-theme#job
        .row
            .col-12.col-lg-5.mt-5
                .text-intro.text-nowrap.pt-lg-5
                    | Discover Our Open
                    br
                    |Positions Now
                .button-mb-center
                    a(href="contact.html")
                        button.btn-base.learn-btn Learn More
            .col-12.col-lg-7
                img(style='width: 100%;' src='assets/images/t_company.svg' alt='')
        .g-header.text-center.ecosys-leading.head-spacing#leadTitle {{post?.title}}
        .g-details#job-detail(v-html="post?.detail")
        .rel
            hr.divider
            .g-header.text-center.ecosys-leading(style='margin-bottom: 72px;') Related Jobs
            .news-box.stories-style
                .preview-box.story-item.careers-post(v-if="currentPost !== 0")
                    img(src='assets/images/new_preview.png' alt='')
                    .title Senior Business Analyst
                    .detail Job Description • Work closely with various stakeholders and business teams to capture and fully understand business needs.•
                    a.nav-detail(href='career-detail.html?q=0', @click="setPost(0)")
                        | Read Post
                        svg
                            use(href='#goto-detail')
                .preview-box.story-item.careers-post(v-if="currentPost !== 1")
                    img(src='assets/images/new_preview.png' alt='')
                    .title Backend Java Engineer
                    .detail As a Backend Java Engineer, your responsibilities include, but are not limited to: • Develop, build, and maintain efficient server-side components• Collaborate with product teams to create scalable software features•
                    a.nav-detail(href='career-detail.html?q=1' , @click="setPost(1)")
                        | Read Post
                        svg
                            use(href='#goto-detail')
                .preview-box.story-item.careers-post(v-if="currentPost !== 2")
                    img(src='assets/images/new_preview.png' alt='')
                    .title Front-end developer
                    .detail As a front-end developer, your tasks include: • Develop, test, and maintain responsive web apps with an elegant UX that delights users and increases productivity.•
                    a.nav-detail(href='career-detail.html?q=2' , @click="setPost(2)")
                        | Read Post
                        svg
                            use(href='#goto-detail')
                .preview-box.story-item.careers-post(v-if="currentPost !== 3")
                    img(src='assets/images/new_preview.png' alt='')
                    .title Senior Data Analyst
                    .detail Job Description • Use automated tools to extract data from various sources• Perform analysis to assess data quality and its importance•
                    a.nav-detail(href='career-detail.html?q=3', @click="setPost(3)")
                        | Read Post
                        svg
                            use(href='#goto-detail')