extends ../main-layout

block headAppendTitle
    title TJ Tech - Complementary Supportive
block content
    .container.pt-5.crm-service
        .row
            .col-12.col-xl-3
                .text-intro.text-nowrap.mt-5 We Build Trust
                .text-intro-explain.text-mt.text-nowrap With All Our Fintech Solutions
                .button-mb-center
                    a(href="contact.html")
                        button.btn-base.learn-btn Learn More
            .col-12.col-xl-9
                img(style='width: 100%;' src='assets/images/p_ecosystem.svg' alt='')
        .g-header.text-center.head-spacing Complementary and Supportive Features
        .row.s-leading
            .coml-first-img
              img(src="assets/images/complementary_1.png", alt="")
            .descriptor.col-12.col-lg-6
                .descriptor-item.d-flex.align-items-start
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail TJ Tech offers a powerful suite of trader plugin tools designed to enhance the functionality and performance of the trading platforms. These plugins help brokers make informed decisions by providing both analytical and mechanical tools to minimise risk and optimise profitability.
                .descriptor-item.d-flex.align-items-start.mt-4
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail TJ Tech uses an innovative advanced aggregating software to adjust market spread using data extracted from predetermined exchanges. Clients can customise the spread through the price-feeding function. A variety of plugins are available to offer protection for brokers against illegal or unfair trading conduct.
            .figure.col-12.col-lg-6.coml-none
                .image-shadow.right
                img.main-image(src='assets/images/complementary_1.png' alt='')
        .descriptor-item.d-flex.align-items-start.mt-4
            img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
            .detail Customers can choose plugins that are suitable for managing their own system: for example, a unique plugin to avoid traders taking advantage of situations when price feeding is unavailable, or a plugin that can act as a shield against scalping.
        .descriptor-item.d-flex.align-items-start.my-4
            img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
            .detail The risk management tools included in TJ Tech plugins allow traders to set up ‘stop loss and take profit’ levels, as well as trailing stop and breakeven stop levels.
        .row.leading
            .coml-first-img
                  img(src="assets/images/complementary_2.png", alt="")
            .figure.col-12.col-lg-4.coml-none
                .image-shadow
                img.main-image(src='assets/images/complementary_2.png' alt='')
            .descriptor.col-12.col-lg-8
                .descriptor-item.d-flex.align-items-start
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='' style="padding-right: 20px")
                    .detail Trade management tools included within plugins allow traders to set up automated trading systems, monitor their trades in real-time, and manage their positions with ease. A variety of EA (Expert Advisor) tools can act as a technical bot to help traders analyse and set up rules for their personal transactions with the aim of maximising profits.
                .descriptor-item.d-flex.align-items-start.mt-4
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='' style="padding-right: 20px")
                    .detail The market analysis plugins provide traders with tools to comprehensively view the market - including market trends, news events, and economic indicators. This can help traders to make informed trading decisions based on a thorough analysis of market conditions.
