extends ../main-layout

block headAppendTitle
    title TJ Tech - Complementary Supportive
block content
    .container.pt-5.crm-service
        .row
            .col-12.col-xl-3
                .text-intro.text-nowrap.mt-5 We Build Trust
                .text-intro-explain.text-mt.text-nowrap With All Our Fintech Solutions
                .button-mb-center
                    a(href="contact.html")
                        button.btn-base.learn-btn Learn More
            .col-12.col-xl-9
                img(style='width: 100%;' src='assets/images/p_ecosystem.svg' alt='')
        .g-header.text-center.sbd Complementary and Supportive Features
        .row.s-leading
            .coml-first-img
              img(src="assets/images/complementary_1.png", alt="")
            .descriptor.col-12.col-lg-6
                .descriptor-item.d-flex.align-items-start
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail
                        | TJ TECH plugins are a suite of powerful tools designed to enhance the functionality and performance of the MetaTrader 4 and MetaTrader 5 platforms. These plugins are designed to help brokers make informed managerial decisions by providing them with analytical and mechanical tools to adjust their own settings .
                .descriptor-item.d-flex.align-items-start.mt-4
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail
                        | To begin with, clients can customize the spread (difference between bid and ask price) through the Price Feeding function. Normally, TJ TECH uses an advanced aggregating software to adjust the spread using data extracted from predetermined exchanges. We also offer a variety of plugins to offer protection for brokers against illegal and unfair trading conduct.
            .figure.col-12.col-lg-6.coml-none
                .image-shadow.right
                img.main-image(src='assets/images/complementary_1.png' alt='')
        .descriptor-item.d-flex.align-items-start.mt-4
            img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
            .detail
                | Additionally, customers can choose plugins that are suitable for managing their own system. For example, No Quote No Trade plugin will be in place to avoid traders taking advantage of situations when price feeding is unavailable, Scalping Guard Plugin can act as a shield against scalping tactics or Credit Bonus is useful against opposite trading, etc.
        .descriptor-item.d-flex.align-items-start.my-4
            img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
            .detail
                | From the perspective of traders, TJ TECH is able to deploy plugins that offer a wide range of features including advanced risk management tools, trade management tools, automated trading systems, and market analysis tools. These features can help traders to better manage their trades, reduce risk, and increase profitability.
        .row.leading
            .coml-first-img
                  img(src="assets/images/complementary_2.png", alt="")
            .figure.col-12.col-lg-6.coml-none
                .image-shadow
                img.main-image(src='assets/images/complementary_2.png' alt='')
            .descriptor.col-12.col-lg-6
                .descriptor-item.d-flex.align-items-start
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='' style="padding-right: 20px")
                    .detail
                        | The risk management tools included in the TJ TECH plugins allow traders to set up stop loss and take profit levels, as well as trailing stop and breakeven stop levels. One of our outstanding future functions is Reverse AI, a software that collects and analyzes traders&rsquo; behaviors to support their decision making process. It helps mitigate the risk of losing more due to emotional instability. Users can choose to switch it on or off before doing transactions.
                .descriptor-item.d-flex.align-items-start.mt-4
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='' style="padding-right: 20px")
                    .detail
                        | The trade management tools included in the TJ TECH plugins allow traders to set up automated trading systems, monitor their trades in real-time, and manage their positions with ease.&nbsp; For example, we provide a variety of EA (Expert Advisor) which can act as a technical bot to help traders analyze and set up rules for their personal transactions. These tools can help traders to stay on top of their trades and make adjustments as needed to maximize their profits.
                .descriptor-item.d-flex.align-items-start.mt-4
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='' style="padding-right: 20px")
                    .detail
                        | The market analysis tools included in TJ TECH plugins provide traders with a comprehensive view of the market, including market trends, news events, and economic indicators. This can help traders to make informed trading decisions based on a thorough analysis of the market conditions.
