extends ../main-layout

block headAppendTitle
    title TJ Tech - Consultation Service

block content
    .container.pt-5.crm-service.consultation-service
        .row
            .col-12.col-xl-3
                .text-intro.text-nowrap.mt-5 We Build Trust
                .text-intro-explain.text-mt.text-nowrap With All Our Fintech Solutions
                a(href="contact.html")
                    button.btn-base.learn-btn Learn More
            .col-12.col-xl-9
                img(style='width: 100%;' src='assets/images/p_ecosystem.svg' alt='')
        .g-header.text-center.sbd Consultation Service
        .row.s-leading
            .descriptor.col-12.col-xl-7
                .descriptor-item.d-flex.align-items-start
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail
                        | TJ TECH is a leading consultation service provider for financial exchanges that assists businesses in optimizing their profit through expert advice and analysis. Our team of experienced professionals specializes in identifying market trends, analyzing data, and providing strategic recommendations to help exchange companies improve their profitability.
                .descriptor-item.d-flex.align-items-start.mt-4
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail
                        | We understand the complexities of the financial market and the challenges that companies face in generating consistent profits. Our consultation service is designed to help businesses of all sizes and levels of experience navigate the market situation with confidence.
            .figure.col-12.col-xl-5
                .image-shadow
                img.main-image(src='assets/images/consulation-service.png' alt='')
        .descriptor-item.d-flex.align-items-start.mt-4
            img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
            .detail
                | Our service includes a comprehensive analysis of your platform settings, including risk management techniques, fraud detection and market analysis tools. Our team will work with you to identify areas of improvement and develop a customized plan that will help you achieve your financial goals.
        .descriptor-item.d-flex.align-items-start.my-4
            img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
            .detail
                | We also provide ongoing support and guidance to help you stay ahead of the competition and make informed decisions. With our consultation service, you can trust that you will receive expert advice and guidance that will help you optimize your strategy and achieve greater profitability
