extends ../main-layout

block headAppendTitle
    title TJ Tech - Contact

block content
    .container.ns-theme
        .row
            .col-12.col-lg-5.mt-5
                .text-intro.text-nowrap.pt-lg-5
                    | Discover Our Open
                    br
                    |Positions Now
                .button-mb-center
                    a(href="contact.html")
                        button.btn-base.learn-btn Learn More
            .col-12.col-lg-7
                img(style='width: 100%;' src='assets/images/t_company.svg' alt='')
        .g-header.text-center.ecosys-leading(style='margin: 121px 0 70px 0;') CONTACT US
        .leave-form.news-box
            .row(style="width: -webkit-fill-available")
                .col-12.col-lg-6
                    .title(style='margin-bottom: 32px;') Head Offices
                    .contact-info
                        .lead-ic
                            svg(width='12' height='17' viewbox='0 0 12 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M6.74062 16.575C8.37187 14.4434 12 9.27695 12 6.375C12 2.85414 9.31375 0 6 0C2.6875 0 0 2.85414 0 6.375C0 9.27695 3.65625 14.4434 5.25938 16.575C5.64375 17.083 6.35625 17.083 6.74062 16.575V16.575ZM6 8.5C4.89688 8.5 4 7.54707 4 6.375C4 5.20293 4.89688 4.25 6 4.25C7.10312 4.25 8 5.20293 8 6.375C8 7.54707 7.10312 8.5 6 8.5Z' fill='#0080E9')
                        .c-title Level 11, Capital Place Building, 29 Lieu Giai, Ba Dinh, Ha Noi
                    .contact-info
                        .lead-ic
                            svg(width='19' height='14' viewbox='0 0 19 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M16.6512 0H2.63004C1.30729 0 0.640625 0.688333 0.640625 2.08833V11.9117C0.640625 13.3 1.30729 14 2.63004 14H16.6512C17.974 14 18.6406 13.3 18.6406 11.9117V2.08833C18.6406 0.688333 17.974 0 16.6512 0ZM9.64592 10.0333L2.51364 3.58167C2.25967 3.34833 2.05861 2.81167 2.37607 2.33333C2.68295 1.855 3.2438 1.84333 3.61417 2.135L9.64592 6.63833L15.6671 2.135C16.0375 1.84333 16.5983 1.855 16.9052 2.33333C17.2226 2.81167 17.0216 3.34833 16.7676 3.58167L9.64592 10.0333Z' fill='#0080E9')
                        .c-title admin@tjtech.tech
                    .contact-info
                        .lead-ic
                            svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M0.74586 2.52816L2.81379 0.462136C2.95966 0.315619 3.13305 0.199367 3.32398 0.120059C3.51492 0.0407514 3.71964 -4.95526e-05 3.92639 4.51641e-08C4.34775 4.51641e-08 4.74386 0.165049 5.04094 0.462136L7.26615 2.68738C7.41267 2.83325 7.52891 3.00664 7.60822 3.19758C7.68753 3.38852 7.72833 3.59325 7.72828 3.8C7.72828 4.22136 7.56323 4.61748 7.26615 4.91456L5.63899 6.54175C6.01987 7.38128 6.54942 8.14503 7.20207 8.79612C7.85309 9.45037 8.61676 9.98185 9.45641 10.365L11.0836 8.73786C11.2294 8.59135 11.4028 8.4751 11.5938 8.39579C11.7847 8.31648 11.9894 8.27568 12.1962 8.27573C12.6175 8.27573 13.0136 8.44078 13.3107 8.73786L15.5379 10.9612C15.6846 11.1073 15.8009 11.281 15.8802 11.4723C15.9595 11.6636 16.0002 11.8687 16 12.0757C16 12.4971 15.835 12.8932 15.5379 13.1903L13.4738 15.2544C13 15.7301 12.3457 16 11.6739 16C11.5321 16 11.3962 15.9883 11.2622 15.965C8.64477 15.534 6.04869 14.1417 3.95358 12.0485C1.8604 9.95728 0.470136 7.36311 0.0332489 4.73786C-0.0987873 3.93592 0.167228 3.11068 0.74586 2.52816Z' fill='#0080E9')
                        .c-title (+84) 2432 668 834
                    .map
                        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0235225224865!2d105.81138947597704!3d21.0317447876747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab2d1e94f373%3A0x16fecba22edb8121!2sCapital%20Place!5e0!3m2!1svi!2s!4v1684127350804!5m2!1svi!2s' width='600' height='405' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
                .col-12.col-lg-6
                    .title.t2(style='margin-bottom: 9px;') Leave us your info
                    form.form-box(action='#')
                        .form-control-box
                            label.c-title(for='name') Company Name
                            br
                            input#name.text-input(type='text')
                        .form-control-box
                            label.c-title(for='mail') Email
                            br
                            input#mail.text-input(type='email')
                        .form-control-box
                            label.c-title(for='mess') Email
                            br
                            textarea#mess.text-input(rows='6' style='resize: none;')
                        button(type='submit') Send
