extends ../main-layout

block headAppendTitle
    title TJ Tech - CRM Software

block content
    .container.mt-5.pt-5.crm-service
        .row
            .col-12.col-xl-3.mt-5
                .text-intro.text-nowrap.mt-5 We Build Trust
                .text-intro-explain.text-mt.text-nowrap With All Our Fintech Solutions
                button.btn-base.learn-btn Learn More
            .col-12.col-xl-9
                img(style='width: 100%;' src='assets/images/p_ecosystem.svg' alt='')
        .g-header.text-center.sbd CRM Software
        .d-flex.leading
            .figure
                .image-shadow
                img.main-image(src='assets/images/service.png' alt='')
            .descriptor
                .descriptor-item.d-flex.align-items-start
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail
                        | TJ TECH CRM software is a cutting-edge solution that is specifically designed for financial exchanges. This software is used by financial institutions to manage their customer relationships, streamline their processes, and to improve their overall operational efficiency.
                .descriptor-item.d-flex.align-items-start.mt-4
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail
                        | In addition to managing the customer information including KYC details (name, DOB, address&mldr;), it also illustrates the Trading History, current Profit/Loss, Account Balance, Deposit History for their own asset management purpose. With its powerful analytics capabilities, the software allows exchanges to gain insights into customer behavior, market trends, and other important metrics that are essential for their success. It also acts as an allocational mechanism for White Label, Introducing Broker (IB) and Multi Account Manager (MAM) schemes. These are standard programs for which financial exchanges can drive their revenue utilizing affiliation and protrader&rsquo;s reputation.
        .descriptor-item.d-flex.align-items-start.mt-4
            img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
            .detail
                | In terms of payment, TJ TECH CRM software offers a wide range of payments including credit card, crypto currency, bank transfer/deposits, etc. Our platform setting also empowers our clients to justify the withdrawal amount of users (minimum and maximum) as well as the withdrawal fee rate or third party fees when it comes to payment portals.
        .descriptor-item.d-flex.align-items-start.mt-4
            img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
            .detail
                | Overall, TJ TECH CRM software has proved itself to be a powerful and reliable solution that can help financial exchanges achieve their goals and stay ahead of the competition in today&apos;s ever changing financial environment.

