extends ../main-layout

block headAppendTitle
    title TJ Tech - CRM Software

block content
    .container.pt-5.crm-service
        .row
            .col-12.col-xl-3
                .text-intro.text-nowrap.mt-5 We Build Trust
                .text-intro-explain.text-mt.text-nowrap With All Our Fintech Solutions
                .button-mb-center
                    a(href="contact.html")
                        button.btn-base.learn-btn Learn More
            .col-12.col-xl-9
                img(style='width: 100%;' src='assets/images/p_ecosystem.svg' alt='')
        .g-header.text-center.head-spacing CRM Software
        .row.leading
            .figure.col-12.col-lg-5
                .image-shadow
                img.main-image(src='assets/images/service.png' alt='')
            .descriptor.col-12.col-lg-7
                .descriptor-item.d-flex.align-items-start
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail TJ Tech CRM software is a cutting-edge solution specifically designed for financial exchanges. It is used by financial institutions to manage customer relationships, streamline their processes, and improve their overall operational efficiency.
                .descriptor-item.d-flex.align-items-start.mt-4
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail With full KYC (Know Your Customer) functionality and security, all client transactions on the MT4/MT5 platforms can be viewed – both current and historical. Powerful analytics capabilities allow insights into customer behaviour, market trends and other important metrics that are essential for success. It also provides standard programs to manage Introducing Broker (IB) and Affiliate networks with ease.
        .descriptor-item.d-flex.align-items-start.mt-4
            img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
            .detail The CRM offers a wide range of payment options including credit card, crypto currency, bank transfer/deposits, and various digital wallets. The platform setting also enables clients to justify the withdrawal limits of users (minimum and maximum) as well as withdrawal fee rate or third-party fees.
        .descriptor-item.d-flex.align-items-start.mt-4
            img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
            .detail Overall, TJ Tech CRM software is a proven solution that can help financial exchanges achieve their goals and stay ahead of the competition in today's rapidly changing financial environment.

