extends ../main-layout

block headAppendTitle
    title TJ Tech - Customer Support

block content
    .container.pt-5.crm-service
        .row
            .col-12.col-xl-3
                .text-intro.text-nowrap.mt-5 We Build Trust
                .text-intro-explain.text-mt.text-nowrap With All Our Fintech Solutions
                a(href="contact.html")
                    button.btn-base.learn-btn Learn More
            .col-12.col-xl-9
                img(style='width: 100%;' src='assets/images/p_ecosystem.svg' alt='')
        .g-header.text-center.sbd Customer Support
        .row.leading
            .figure.col-12.col-md-5
                .image-shadow
                img.main-image(src='assets/images/customer-support.png' alt='')
            .descriptor.col-12.col-md-7
                .descriptor-item.d-flex.align-items-start
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail
                        | According to the clients demand, they can choose to outsource the Customer Support function which is responsible for handling queries from users through email. For example, if a customer makes a deposit and the money got delayed to arrive in their Account balance, normally resulting in a complaint through email, our operational team will be responsible for tracing the transaction, justify the account balance and respond to the customer.
                .descriptor-item.d-flex.align-items-start.mt-4
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail
                        | At TJ TECH, we pride ourselves not only on the quality of our products but also on the exceptional level of customer support we provide. Our 24/5 customer support is available to assist you with any questions or concerns you may have. We understand that technology can sometimes be challenging, and our dedicated team of support agents is here to help ensure that your experience with our products and services is seamless and stress-free.
