extends ../main-layout

block headAppendTitle
    title TJ Tech - Disclosure

block content
    .container.mt-5.pt-5.nav-footer-theme
        .row
            .col-12.col-md-5
                .text-intro.text-nowrap
                    | Think Outside
                    br
                    |  The Box
                a(href="/contact.html")
                    button.btn-base.learn-btn Learn More
            .col-12.col-md-7
                img(style='width: 100%;' src='assets/images/f_theme.png' alt='')
        .g-header.text-center.ecosys-leading(style='margin-top: 218px;margin-bottom: 76px;') Disclosure
        .g-detail
            | At TJ Tech, we strive to provide our customers with the highest quality products and services while maintaining transparency and honesty in all of our business practices. In line with our commitment to transparency, we have prepared this disclosure statement to outline certain aspects of our business.
            br
            br
            |       Affiliate Relationships: TJ Tech participates in various affiliate programs, which means that we may earn a commission on purchases made through certain links on our website. However, we only promote products or services that we believe will be beneficial to our customers and that we would use ourselves.
            br
            br
            |       Sponsored Content: TJ Tech occasionally publishes sponsored content on our website, social media channels, and other platforms. Any sponsored content will be clearly identified as such and will only be published if we believe it will be of interest or value to our audience.
            br
            br
            |       Product Reviews: We take pride in our objective and unbiased product reviews, which are based on our own experiences and research. However, we may receive free products from companies for the purpose of review. In such cases, we will clearly disclose that we received the product for free, and our review will be honest and unbiased.
            br
            br
            |       Advertising: TJ Tech may display advertisements on our website and social media channels. These advertisements are clearly marked as such and are chosen based on their relevance and usefulness to our audience. We do not endorse or promote any specific products or services advertised on our website or social media channels.
            br
            br
            |       Privacy: TJ Tech takes the privacy and security of our customers seriously. We collect and use personal information only in accordance with our privacy policy, which can be found on our website.
            br
            br
            |       We hope that this disclosure statement helps our customers understand our business practices and commitment to transparency. If you have any questions or concerns, please do not hesitate to contact us.

