extends ../main-layout

block headAppendTitle
    title TJ Tech - Feedback

block content
    .container.mt-5.pt-5.ns-theme
        .row
            .col-12.col-md-5
                .text-intro.text-nowrap
                    | Think Outside
                    br
                    |  The Box
                a(href="/contact.html")
                    button.btn-base.learn-btn Learn More
            .col-12.col-md-7
                img(style='width: 100%;' src='assets/images/t_company.svg' alt='')
        .g-header.text-center.ecosys-leading(style='margin-top: 218px;margin-bottom: 76px;') Feedback
        .feedback-tickets
            .ticket
                div
                    .d-flex
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                    .content
                        | &quot;As a financial exchange owner, I was looking for a reliable CRM provider that could meet all my needs. I found that and more with TJTech. Their software is feature-rich, user-friendly, and has greatly improved my ability to manage customer relationships. Their support team is also top-notch, always available and responsive to my needs. Strongly recommend it!&quot;
                .tc-footer
                    .author Henry, Arthur
                    .sub Ontomedia
            .ticket
                div
                    .d-flex
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                    .content
                        | &quot;As a financial exchange owner, I was looking for a reliable CRM provider that could meet all my needs. I found that and more with TJTech. Their software is feature-rich, user-friendly, and has greatly improved my ability to manage customer relationships. Their support team is also top-notch, always available and responsive to my needs. Strongly recommend it!&quot;
                .tc-footer
                    .author Henry, Arthur
                    .sub Ontomedia
            .ticket
                div
                    .d-flex
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                    .content
                        | &quot;As a financial exchange owner, I was looking for a reliable CRM provider that could meet all my needs. I found that and more with TJTech. Their software is feature-rich, user-friendly, and has greatly improved my ability to manage customer relationships. Their support team is also top-notch, always available and responsive to my needs. Strongly recommend it!&quot;
                .tc-footer
                    .author Henry, Arthur
                    .sub Ontomedia
            .ticket
                div
                    .d-flex
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                    .content
                        | &quot;As a financial exchange owner, I was looking for a reliable CRM provider that could meet all my needs. I found that and more with TJTech. Their software is feature-rich, user-friendly, and has greatly improved my ability to manage customer relationships. Their support team is also top-notch, always available and responsive to my needs. Strongly recommend it!&quot;
                .tc-footer
                    .author Henry, Arthur
                    .sub Ontomedia
            .ticket
                div
                    .d-flex
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                    .content
                        | &quot;As a financial exchange owner, I was looking for a reliable CRM provider that could meet all my needs. I found that and more with TJTech. Their software is feature-rich, user-friendly, and has greatly improved my ability to manage customer relationships. Their support team is also top-notch, always available and responsive to my needs. Strongly recommend it!&quot;
                .tc-footer
                    .author Henry, Arthur
                    .sub Ontomedia
            .ticket
                div
                    .d-flex
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                    .content
                        | &quot;As a financial exchange owner, I was looking for a reliable CRM provider that could meet all my needs. I found that and more with TJTech. Their software is feature-rich, user-friendly, and has greatly improved my ability to manage customer relationships. Their support team is also top-notch, always available and responsive to my needs. Strongly recommend it!&quot;
                .tc-footer
                    .author Henry, Arthur
                    .sub Ontomedia
            .ticket
                div
                    .d-flex
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                        svg.vote.voted
                            use(href='#star-voting')
                    .content
                        | &quot;As a financial exchange owner, I was looking for a reliable CRM provider that could meet all my needs. I found that and more with TJTech. Their software is feature-rich, user-friendly, and has greatly improved my ability to manage customer relationships. Their support team is also top-notch, always available and responsive to my needs. Strongly recommend it!&quot;
                .tc-footer
                    .author Henry, Arthur
                    .sub Ontomedia

