extends ../main-layout

block headAppendTitle
    title TJ Tech - Principle of Conduct

block content
    .container.mt-5.pt-5.nav-footer-theme
        .row
            .col-12.col-md-6
                .text-intro.w-95
                    | Think Outside
                    br
                    |  The Box
                button.btn-base.learn-btn Learn More
            .col-12.col-md-6
                img(style='width: 100%;' src='assets/images/f_theme.png' alt='')
        .g-header.text-center.ecosys-leading(style='margin-top: 102px; margin-bottom: 80px;') Principle of Conduct
        .g-detail
            | The TJ Tech Group has developed a number of principles applied by both management and employees that have guided the Group&rsquo;s activities over the years. Today the Group wishes to put these principles in writing to help us communicate them and ensure that they are implemented. The purpose of this document is also to make a public statement of TJ Tech Group&rsquo;s commitment to these basic principles.
        .g-detail These principles are for essential areas and will be added to when required.
        .g-detail Following these principles is a requirement for belonging to the TJ Tech Group.
