extends ../main-layout

block headAppendTitle
    title TJ Tech - Support Center

block content
    .container.mt-5.pt-5.nav-footer-theme
        .row
            .col-12.col-md-5
                .text-intro.text-nowrap
                    | Think Outside
                    br
                    |  The Box
                a(href="contact.html")
                    button.btn-base.learn-btn Learn More
            .col-12.col-md-7
                img(style='width: 100%;' src='assets/images/f_theme.png' alt='')
        .g-header.text-center.ecosys-leading(style='margin-top: 218px;margin-bottom: 76px;') Support Center
        .row
            .col-12.col-xl-6
                .spc-title Singapore Office
                .spc-detail
                    | Address16 RAFFLES QUAY, #33-02, HONG LEONG BUILDING, SINGAPORE (048581)
                    br
                    | Email: admin@tjtech.tech
            .col-12.col-xl-6
                .spc-title Vietnam Office
                .spc-detail
                    | Address: Level 11, 29 Lieu Giai, Ba Dinh, Ha Noi, Viet Nam&nbsp;
                    br
                    | Phone: (+84) 243 266 8834
                    br
                    | Email: admin@tjtech.tech
