extends ../main-layout

block headAppendTitle
    title TJ Tech - FAQ
block scriptFootAppend
    script(src='assets/scripts/faq-detail.js' defer='')


block content
    .container.mt-5.pt-5.faq-root
        .row
            .col-12.col-md-6
                .text-intro.w-95
                    | The Future
                    br
                    |  Of Digital Mastery
                button.btn-base.learn-btn Learn More
            .col-12.col-md-6
                img(style='width: 100%;' src='assets/images/t_community.svg' alt='')
        .g-header.text-center.ecosys-leading(style='margin-top: 102px;') FAQ
        .faq-form
            form.search-form(action='#')
                .faq-search-box
                    input(type='text' placeholder='Find advice and answers from our support team fast or get in touch |')
                    button(type='submit') Search
            .faq-list
                a.faq-item(href='faq-detail.html?q=0')
                    img(src='assets/images/ic_question.svg' alt='')
                    |           About TJ TECH
                a.faq-item(href='faq-detail.html?q=1')
                    img(src='assets/images/ic_question.svg' alt='')
                    |           TJ TECH Customer Resource Management Software
                a.faq-item(href='faq-detail.html?q=2')
                    img(src='assets/images/ic_question.svg' alt='')
                    |           TJ TECH Supportive add-ons and plug-ins
                a.faq-item(href='faq-detail.html?q=3')
                    img(src='assets/images/ic_question.svg' alt='')
                    |           TJ TECH System Maintenance Service
                a.faq-item(href='faq-detail.html?q=4')
                    img(src='assets/images/ic_question.svg' alt='')
                    |           TJ TECH Customer Support Service
                a.faq-item(href='faq-detail.html?q=5')
                    img(src='assets/images/ic_question.svg' alt='')
                    |           Marketing and Promotions
                a.faq-item(href='faq-detail.html?q=6')
                    img(src='assets/images/ic_question.svg' alt='')
                    |           Terms and Policies
                a.faq-item(href='faq-detail.html?q=7')
                    img(src='assets/images/ic_question.svg' alt='')
                    |           Contact Information

block scripts
    script.
      const mockData = [
        {
          title: 'About TJ TECH',
          contents: [
            {
              title: 'Who are we and what type of products/services do we offer?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'What are our plans and orientation for future growth?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'Where do we provide our services?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'What are the benefits customers can receive after purchasing our products/services?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            }
          ]
        },
        {
          title: 'TJ TECH Customer Resource Management Software',
          contents: [
            {
              title: 'Who are we and what type of products/services do we offer?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'What are our plans and orientation for future growth?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'Where do we provide our services?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'What are the benefits customers can receive after purchasing our products/services?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            }
          ]
        },
        {
          title: 'TJ TECH Customer Resource Management Software',
          contents: [
            {
              title: 'Who are we and what type of products/services do we offer?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'What are our plans and orientation for future growth?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'Where do we provide our services?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'What are the benefits customers can receive after purchasing our products/services?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            }
          ]
        },
        {
          title: 'TJ TECH System Maintenance Service',
          contents: [
            {
              title: 'Who are we and what type of products/services do we offer?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'What are our plans and orientation for future growth?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'Where do we provide our services?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'What are the benefits customers can receive after purchasing our products/services?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            }
          ]
        },
        {
          title: 'TJ TECH Customer Support Service',
          contents: [
            {
              title: 'Who are we and what type of products/services do we offer?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'What are our plans and orientation for future growth?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'Where do we provide our services?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'What are the benefits customers can receive after purchasing our products/services?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            }
          ]
        },
        {
          title: 'Marketing and Promotions',
          contents: [
            {
              title: 'Who are we and what type of products/services do we offer?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'What are our plans and orientation for future growth?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'Where do we provide our services?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'What are the benefits customers can receive after purchasing our products/services?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            }
          ]
        },
        {
          title: 'Terms and Policies',
          contents: [
            {
              title: 'Who are we and what type of products/services do we offer?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'What are our plans and orientation for future growth?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'Where do we provide our services?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'What are the benefits customers can receive after purchasing our products/services?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            }
          ]
        },
        {
          title: 'Contact Information',
          contents: [
            {
              title: 'Who are we and what type of products/services do we offer?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'What are our plans and orientation for future growth?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'Where do we provide our services?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            },
            {
              title: 'What are the benefits customers can receive after purchasing our products/services?',
              detail: `TJ Tech Group with its fully flexible high-end disruptive business model, is a Singaporean established and trusted Forex CRM provider, located at Capital Place in the heart of Hanoi’s financial quarter.
      <br><br>
      The team consists of 60 professionals that provide premium support to help our domestic and international clients maximise profit through Quality Cost Delivery techniques; they also act as a bridge for knowledge transfer.
      <br><br>
      We offer a professional gateway to financial markets, custom software development, cutting-edge products, multiple platforms, liquidity aggregation, and more.
      `
            }
          ]
        }
      ]
      localStorage.setItem('data', JSON.stringify(mockData));
