extends ../main-layout

block headAppendTitle
    title TJ Tech - FAQ
block headAppend
    script(src="https://unpkg.com/vue@3/dist/vue.global.js")
block scriptFootAppend
    script(src='assets/scripts/faq.js' defer='')


block content
    .container.faq-root#faq
        .row
            .col-12.col-lg-4.pt-5
                .text-intro.text-nowrap.mt-lg-5
                    | The Future
                    br
                    |Of Digital Mastery
                .button-mb-center
                    a(href="contact.html")
                        button.btn-base.learn-btn Learn More
            .col-12.col-lg-8
                img(style='width: 100%;' src='assets/images/t_community.svg' alt='')
        .g-header.text-center.ecosys-leading.head-spacing FAQ
        .faq-form
            form.search-form(@submit.prevent="onSearch")
                .faq-search-box
                    input.pc-inp(type='text' v-model="search" placeholder='Find advice and answers from our support team fast or get in touch')
                    input.mb-inp(type='text' v-model="search" placeholder='Find advice and answers')
                    button(type='submit') Search
            .faq-list
                a.faq-item(v-for="(faq, index) in faqs" :href="'faq-detail.html?q=' + index")
                    img(src='assets/images/ic_question.svg' alt='')
                    |           {{faq.title}}
