extends ../main-layout

block headAppendTitle
    title TJ Tech - News & Stories

block content
    .container.ns-theme
        .row
            .col-12.col-md-4.pt-5
                .text-intro.text-nowrap.mt-5
                    | The Future
                    br
                    |  Of Digital Mastery
                button.btn-base.learn-btn Learn More
            .col-12.col-md-8
                img(style='width: 100%;' src='assets/images/t_community.svg' alt='')
        .g-header.text-center.ecosys-leading(style='margin-top: 102px;') News
        .news-box.row
            .preview-box.col-12.col-md-5
                img(src='assets/images/new_preview.png' alt='')
                .title Travelling as a way of self-discovery and progress
                .detail
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                button.nav-detail
                    | Read Post
                    svg
                        use(href='#goto-detail')
            .list-box.col-12.col-md-7
                .new-item
                    img(src='assets/images/new_1.png' alt='')
                    .info
                        .title Where to grow your business as a photographer: site or social media?
                        button.nav-detail
                            | Read Post
                            svg
                                use(href='#goto-detail')
                .new-item
                    img(src='assets/images/new_2.png' alt='')
                    .info
                        .title How to design your site footer like we did
                        button.nav-detail
                            | Read Post
                            svg
                                use(href='#goto-detail')
                .new-item
                    img(src='assets/images/new_3.png' alt='')
                    .info
                        .title How a visual artist redefines success in graphic design
                        button.nav-detail
                            | Read Post
                            svg
                                use(href='#goto-detail')
        hr.divider
        .g-header.text-center.ecosys-leading(style='margin-bottom: 68px;') Stories
        .news-box.stories-style
            .preview-box.story-item
                img(src='assets/images/new_preview.png' alt='')
                .title Travelling as a way of self-discovery and progress
                .detail
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                button.nav-detail
                    | Read Post
                    svg
                        use(href='#goto-detail')
            .preview-box.story-item
                img(src='assets/images/new_preview.png' alt='')
                .title Travelling as a way of self-discovery and progress
                .detail
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                button.nav-detail
                    | Read Post
                    svg
                        use(href='#goto-detail')
            .preview-box.story-item
                img(src='assets/images/new_preview.png' alt='')
                .title Travelling as a way of self-discovery and progress
                .detail
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                button.nav-detail
                    | Read Post
                    svg
                        use(href='#goto-detail')
            .preview-box.story-item
                img(src='assets/images/new_preview.png' alt='')
                .title Travelling as a way of self-discovery and progress
                .detail
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                button.nav-detail
                    | Read Post
                    svg
                        use(href='#goto-detail')
            .preview-box.story-item
                img(src='assets/images/new_preview.png' alt='')
                .title Travelling as a way of self-discovery and progress
                .detail
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                button.nav-detail
                    | Read Post
                    svg
                        use(href='#goto-detail')
            .preview-box.story-item
                img(src='assets/images/new_preview.png' alt='')
                .title Travelling as a way of self-discovery and progress
                .detail
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                button.nav-detail
                    | Read Post
                    svg
                        use(href='#goto-detail')
        #tjt-paginator.paginator
            button.page-nav.me-4
                svg(width='8' height='14' viewbox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M6.66602 12.3337L1.33268 7.00033L6.66602 1.66699' stroke='#212121' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
            button.page-index 1
            button.page-index 2
            button.page-index 3
            button.page-nav.ms-4
                svg(width='8' height='14' viewbox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M1.33398 12.3337L6.66732 7.00033L1.33398 1.66699' stroke='#212121' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
