extends ../main-layout

block headAppendTitle
    title TJ Tech - Stories

block scriptFootAppend
    script(src="assets/scripts/stories.js", defer) 

block content
    .container.ns-theme
        .row
            .col-12.col-lg-4.pt-5
                .text-intro.text-nowrap.mt-lg-5
                    | The Future
                    br
                    |Of Digital Mastery
                .button-mb-center
                    a(href="storyact.html")
                        button.btn-base.learn-btn Learn More
            .col-12.col-lg-8
                img(style='width: 100%;' src='assets/images/t_community.svg' alt='')

        .g-header.text-center.ecosys-leading.head-spacing Stories
        .news-box.stories-style
            .preview-box.story-item
                img(src='assets/images/s1.png' alt='')
                .content
                    .title Story of a marketing officer at TJ TECH - Jim
                    .detail  I wake up to the sound of my alarm and quickly check my phone for any new emails or messages from my boss. As a sales/marketing officer at a leading software company, I am always on the go and never know when a new opportunity may arise.
                    a.story-nav.nav-detail(href="story-detail.html?t=0") 
                        | Read Post
                        svg
                            use(href='#goto-detail')
            .preview-box.story-item
                img(src='assets/images/s2.png' alt='')
                .content
                    .title Story of a developer at TJ TECH - Alex
                    .detail Meet Alex, a software developer at TJ Tech Company. TJ Tech specializes in providing CRM solutions for financial exchange companies. Alex has been working at TJ Tech for the past three years and has become an integral part of the development team.
                    a.story-nav.nav-detail(href="story-detail.html?t=1") 
                        | Read Post
                        svg
                            use(href='#goto-detail')
            .preview-box.story-item
                img(src='assets/images/s3.png' alt='')
                .content
                    .title Story of a tester at TJ TECH - Laura
                    .detail As a Quality Assurance Officer at TJ Tech Company, my job is to ensure that the CRM solution we provide for financial exchanges is of the highest quality.
                    a.story-nav.nav-detail(href="story-detail.html?t=2") 
                        | Read Post
                        svg
                            use(href='#goto-detail')
            .preview-box.story-item
                img(src='assets/images/s4.png' alt='')
                .content
                    .title Story of a customer support at TJ TECH - Sarah
                    .detail It was a typical day at TJ Tech, a company that provides a CRM solution for financial exchanges. The customer support team had just started their shift, ready to handle any inquiries or issues that customers might have.
                    a.story-nav.nav-detail(href="story-detail.html?t=3") 
                        | Read Post
                        svg
                            use(href='#goto-detail')
            .preview-box.story-item
                img(src='assets/images/s5.png' alt='')
                .content
                    .title Story of a designer at TJ TECH - Jane
                    .detail As a designer at TJ Tech Company, Jane was tasked with creating a user interface for their new CRM solution for financial exchange. Jane was excited to take on this project because she knew that it would be a challenging yet rewarding experience.
                    a.story-nav.nav-detail(href="story-detail.html?t=4") 
                        | Read Post
                        svg
                            use(href='#goto-detail')
        //#tjt-paginator.paginator
            button.page-nav.me-4
                svg(width='8' height='14' viewbox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M6.66602 12.3337L1.33268 7.00033L6.66602 1.66699' stroke='#212121' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
            button.page-index 1
            button.page-index 2
            button.page-index 3
            button.page-nav.ms-4
                svg(width='8' height='14' viewbox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M1.33398 12.3337L6.66732 7.00033L1.33398 1.66699' stroke='#212121' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
