extends ../main-layout

block headAppendTitle
    title TJ Tech - Policy

block content
    .container.mt-5.pt-5.ecosys-theme.pnt
        .row
            .col-12.col-md-6
                .text-intro.w-95
                    | Discover Our Open
                    br
                    |  Positions Now
                button.btn-base.learn-btn Learn More
            .col-12.col-md-6
                img(style='width: 100%;' src='assets/images/t_company.svg' alt='')
        .g-header.text-center.ecosys-leading(style='margin-top: 102px;') PRIVACY POLICY
        .detail
            | At TJ Tech, we are committed to protecting the privacy and confidentiality of our users. This Privacy Policy describes how we collect, use, and protect personal information that we may collect through our website, mobile applications, and other services.
        .ecs-title Information We Collect
        .detail
            | We may collect personal information, including but not limited to your name, email address, phone number, postal address when you create an account through our website. We may also collect information about your use of our website and services, including your IP address, browser type, operating system, and browsing history.
        .ecs-title How We Use Your Information
        .detail
            | We use the information we collect for a variety of purposes, including but not limited to:
            br
            br
            ul
                li Providing and improving our services
                li Processing transactions
                li Communicating with you about our services
                li Responding to your inquiries and support requests
                li Marketing and advertising our services
                li Analyzing and improving our website and services
                li Preventing fraud and abuse
            br
            |       We may share your personal information with third-party service providers that help us provide our services, such as payment processors and shipping companies. We may also share your information with law enforcement or other third parties as required by law or to protect our rights, property, or safety.
        .ecs-title Data Security
        .detail
            | We take appropriate measures to protect your personal information from unauthorized access, use, or disclosure. We use encryption and other security technologies to protect sensitive data, such as payment information.
        .ecs-title Cookies and Other Technologies
        .detail
            | We may use cookies and other technologies to collect information about your use of our website and services. Cookies are small data files that are stored on your device when you visit our website. We may use both session cookies (which expire when you close your browser) and persistent cookies (which remain on your device until they expire or you delete them). You can control the use of cookies through your browser settings.
        .ecs-title Links to Third-Party Websites
        .detail
            | Our website may contain links to third-party websites that are not under our control. We are not responsible for the privacy practices or content of these websites. We encourage you to review the privacy policies of these websites before providing any personal information.
        .ecs-title Updates to Our Privacy Policy
        .detail
            | We may update this Privacy Policy from time to time. If we make material changes, we will provide notice on our website or through other means, such as email.
        .ecs-title Contact Us
        .detail
            | If you have any questions or concerns about our Privacy Policy, please contact us at admin@tjtech.tech
