extends ../main-layout

block headAppendTitle
    title TJ Tech - System Maintain

block content
    .container.pt-5.crm-service
        .row
            .col-12.col-xl-3
                .text-intro.text-nowrap.mt-5 We Build Trust
                .text-intro-explain.text-mt.text-nowrap With All Our Fintech Solutions
                .button-mb-center
                    a(href="contact.html")
                        button.btn-base.learn-btn Learn More
            .col-12.col-xl-9
                img(style='width: 100%;' src='assets/images/p_ecosystem.svg' alt='')
        .g-header.text-center.sbd System Maintenance
        .row.leading
            .coml-first-img
                img(src="assets/images/sys_maintain.png", alt="")
        .descriptor-item.d-flex.align-items-start.mt-lg-4
            img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
            .detail
                | TJ TECH System maintenance is a comprehensive service provided by TJ TECH, aimed at ensuring the smooth and efficient operation of computer systems, networks, and other IT infrastructure. The maintenance service involves a range of tasks and activities that are designed to keep IT systems running at optimal performance levels.
        .descriptor-item.d-flex.align-items-start.my-4
            img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
            .detail
                | The maintenance service includes regular inspections, updates, and repairs to software components, as well as the installation of necessary security patches and updates. This helps to ensure that the system remains secure and protected from cyber threats and data breaches. We also offer our clients with premium servers (cloud servers) and fulfill our responsibility of making sure they are free from error, available for back-up. In any case of upgrades (server, software, plugins) we can support the clients with our resources to ascertain that information can run smoothly across the system.
        .row.leading
            .figure.col-12.col-lg-5.coml-none
                .image-shadow
                img.main-image(src='assets/images/sys_maintain.png' alt='')
            .descriptor.col-12.col-lg-7
                .descriptor-item.d-flex.align-items-start
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail
                        | The TJ TECH System maintenance service also includes proactive monitoring and troubleshooting to identify and resolve any issues before they can cause significant downtime or disruptions to the system. This minimizes the risk of data loss or corruption, and helps to ensure that business operations remain uninterrupted. Specifically, our team can be responsible for a variety of task including monitoring the change in the spread and notice clients when it goes above allowed limit, reconcile the spread in case it fluctuates (especially at the beginning of the day), recording and monitoring related ratios, price changes, abnormal delays, connection lost periods and update with our clients to help them find the cause and resolve the problems in a rapid manner.
                .descriptor-item.d-flex.align-items-start.mt-4
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail
                        | We also update the financial news (which can affect traders&apos; decisions) on multimedia channels of our clients to ascertain the stability of information flow. Our team can be utilized to approve and reject the KYC of users to avoid scams or any money laundering schemes. Last but not least, our system can detect unusual transactions and notice the Exchanges about possible red flags. After a certain period, our Operating Officer will report situations to our clients to make sure they are able to acknowledge and react on time in case of any unusual events.
        .descriptor-item.d-flex.align-items-start.mt-4
            img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
            .detail
                | In addition to regular maintenance activities, TJ TECH System maintenance also involves periodic system upgrades to keep pace with the latest technological developments and industry standards. This helps to ensure that the system remains competitive and efficient, and can meet the evolving needs of the business.
        .descriptor-item.d-flex.align-items-start.mt-4
            img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
            .detail
                | To sum up, TJ TECH System maintenance is a critical service that helps clients to optimize the performance of their IT infrastructure, minimize downtime and disruptions, and maintain a secure and reliable computing environment.

