extends ../main-layout

block headAppendTitle
    title TJ Tech - System Development

block content
    .container.mt-5.pt-5.crm-service.system-development
        .row
            .col-12.col-md-6
                .text-intro.w-95 We Build Trust
                .text-intro-explain.text-mt.w-95 With All Our Fintech Solutions
                button.btn-base.learn-btn Learn More
            .col-12.col-md-6
                img(style='width: 100%;' src='assets/images/p_ecosystem.svg' alt='')
        .g-header.text-center.sbd System Development
        .descriptor-item.d-flex.align-items-start.mt-4
            img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
            .detail
                | TJ TECH System development service is a comprehensive solution for businesses looking to develop custom software applications to meet their specific needs. Our customization range can vary from website interface from which our clients can choose layout, appearance for their administrator pages, users pages, IB settings, MAM and PAMM settings, or installing any other add-ons or plugins.
        .descriptor-item.d-flex.align-items-start.my-4
            img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
            .detail
                | On the other hand, we also offer a wide range of other services, including software design, development, testing, and maintenance. Our development process is flexible and agile, ensuring that we can adapt to changing requirements and deliver high-quality software on time and within budget.
        .d-flex.leading
            .descriptor
                .descriptor-item.d-flex.align-items-start
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail
                        | We use the latest technologies and development tools to ensure that our clients receive the most advanced and up-to-date solutions. In the future, our company has a target of supplying our own branded software for a variety of industries, including healthcare, finance, retail, and more.
                .descriptor-item.d-flex.align-items-start.mt-4
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail
                        | At TJ TECH, we pride ourselves on our commitment to delivering exceptional customer service. We work closely with our clients throughout the development process to ensure that their needs are being met and that the final product meets their expectations.
                .descriptor-item.d-flex.align-items-start.mt-4
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail
                        | Whether you need a custom software application developed from scratch or want to improve an existing system, TJ TECH System development service can help. Contact us today to learn more about our services and how we can help you achieve your business goals through software development.
            .figure
                .image-shadow
                img.main-image(src='assets/images/sys_development.png' alt='' style='width: 408 px;')

