extends ../main-layout

block headAppendTitle
    title TJ Tech - System Maintain

block content
    .container.pt-5.crm-service
        .row
            .col-12.col-xl-3
                .text-intro.text-nowrap.mt-5 We Build Trust
                .text-intro-explain.text-mt.text-nowrap With All Our Fintech Solutions
                .button-mb-center
                    a(href="contact.html")
                        button.btn-base.learn-btn Learn More
            .col-12.col-xl-9
                img(style='width: 100%;' src='assets/images/p_ecosystem.svg' alt='')
        .g-header.text-center.head-spacing System Maintenance
        .row.leading
            .coml-first-img
                img(src="assets/images/sys_maintain.png", alt="")
        .descriptor-item.d-flex.align-items-start
            img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
            .detail TJ Tech system maintenance is a comprehensive service aimed at ensuring the availability and smooth and efficient operation of computer systems, networks, and other IT infrastructure – all at optimal performance levels.
        .descriptor-item.d-flex.align-items-start.my-4
            img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
            .detail The maintenance service includes regular inspections, updates, and repairs to software components, as well as the installation of necessary security patches and updates. This helps ensure that the system remains secure and protected from cyber threats and data breaches.
        .row.leading
            .figure.col-12.col-lg-4.coml-none
                .image-shadow
                img.main-image(src='assets/images/sys_maintain.png' alt='')
            .descriptor.col-12.col-lg-8
                .descriptor-item.d-flex.align-items-start
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail Proactive monitoring and troubleshooting to identify and resolve issues before they cause significant downtime or disruption to the system, minimises the risk of data loss or corruption, and helps to ensure business continuity. A team can be tasked with monitoring the change in market spread and giving notice to clients when it exceeds certain parameters; spreads can be reconciled, ratios recorded and monitored, abnormal delays and lost connection periods recorded. Updates to clients are passed periodically to help them identify the causes of issues, and help given to resolves problems in a timely manner.
                .descriptor-item.d-flex.align-items-start.mt-4
                    img(src='assets/images/ic_mini_rounded_tick.svg' alt='')
                    .detail TJ Tech system maintenance is a critical service that helps clients to optimise the performance of their IT infrastructure, minimise downtime and disruptions, and maintain a secure and reliable computing environment.
       
