extends ../main-layout

block headAppendTitle
    title TJ Tech - Term of use

block content
    .container.pnt
        .row
            .col-12.col-lg-5.mt-5
                .text-intro.text-nowrap.pt-lg-5
                    | Discover Our Open
                    br
                    |Positions Now
                .button-mb-center
                    a(href="contact.html")
                        button.btn-base.learn-btn Learn More
            .col-12.col-lg-7
                img(style='width: 100%;' src='assets/images/t_company.svg' alt='')
        .g-header.text-center.ecosys-leading.head-spacing TERMS OF USE
        .detail
            | Welcome to our platform! These terms of use govern your access to and use of our website or application, including any content, features, and services offered through our platform.
            br
            |       By accessing or using our platform, you agree to be bound by these terms of use, our privacy policy, and any other policies or guidelines posted on our platform. If you do not agree to these terms of use, please do not use our platform.
        .ecs-title Use of the Platform
        .detail
            | You may use our platform only for lawful purposes and in accordance with these terms of use. You must not use our platform in any way that violates any applicable federal, state, local, or international law or regulation, or for the purpose of exploiting, harming, or attempting to exploit or harm minors in any way by exposing them to inappropriate content or otherwise.
        .ecs-title Intellectual Property Rights
        .detail
            | Our platform and its entire contents, features, and functionality (including but not limited to all information, software, text, displays, images, video, and audio, and the design, selection, and arrangement thereof), are owned by us, our licensors, or other providers of such material and are protected by the national law and international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws.
            br
            |       You may not reproduce, distribute, modify, create derivative works of, publicly display, publicly perform, republish, download, store, or transmit any of the material on our platform, except as follows:
            br
            |       Your computer may temporarily store copies of such materials in RAM incidental to your accessing and viewing those materials.
            |       You may store files that are automatically cached by your Web browser for display enhancement purposes.
            |       You may print or download one copy of a reasonable number of pages of the platform for your own personal, non-commercial use and not for further reproduction, publication, or distribution.
        .ecs-title Disclaimer of Warranties
        .detail
            | Your use of the platform, its content, and any services or items obtained through the platform is at your own risk. the platform, its content, and any services or items obtained through the platform are provided on an &quot;as is&quot; and &quot;as available&quot; basis, without any warranties of any kind, either express or implied. Neither we nor any person associated with us makes any warranty or representation with respect to the completeness, security, reliability, quality, accuracy, or availability of the platform. without limiting the foregoing, neither we nor anyone associated with us represents or warrants that the platform, its content, or any services or items obtained through the platform will be accurate, reliable, error-free, or uninterrupted, that defects will be corrected, that our platform or the server that makes it available are free of viruses or other harmful components, or that the platform or any services or items obtained through the platform will otherwise meet your needs or expectations.
        .ecs-title Limitation of Liability
        .detail
            | In no event will we, our affiliates, or our licensors, service providers, employees, agents, officers, or directors be liable for damages of any kind, under any legal theory, arising out of or in connection with your use, or inability to use, the platform, any platforms linked to it, any content on the platform or such other platforms, including any direct, indirect, special, incidental, consequential, or punitive damages, including but not limited to, personal injury, pain and suffering, emotional distress, loss of revenue, loss of profits.

