extends ../main-layout

block headAppendTitle
    title TJ Tech - Tjex.estate

block content
    .container.mt-5.pt-5.ecosys-theme
        .row
            .col-12.col-md-4
                .text-intro.text-nowrap
                    | Custom Software
                    br
                    |  Development
                a(href="/contact.html")
                    button.btn-base.learn-btn Learn More
            .col-12.col-md-8
                img(style='width: 100%;' src='assets/images/t_ecosystem.svg' alt='')
        .g-header.text-center.ecosys-leading(style='margin-top: 102px;') TJex.estate
        .ecs-title Invest and earn even with just a small capital
        .detail
            | Real estate investment has always been attractive, but the problem is that private investors cannot easily invest. Why? For real estate prices to rise, the country&apos;s economy needs to continue to develop. In general, the rate of increasing in real estate prices is linked to the forecast of GDP growth. This phenomenon occurs as developing countries continue their transition to becoming developed countries. For example, in Southeast Asia, Vietnam is expected to have the highest GDP growth rate by 2025.In Southeast Asian countries, if we can quickly find this opportunity and make investment decisions at the right time, we will be able to seize certain profit opportunities.
            br
            br
            |       In the near future, we will provide a platform that allows you to freely and easily buy and sell custom-made Real Estate Investment Trusts (REITs). It is similar to how online shopping operates nowadays. You can choose among our offered projects within your investment range. With this platform, one can invest even with a small amount and still enjoys the benefits of getting the most out of their investments and increase their assets handled by our team of financial experts.
            br
            br
            |       One of the best features of this program is that investors can have free access on a monthly or quarterly basis to monitor their investment progress. Also, we&apos;d like to help our clients choose the right properties to buy and sell. We will provide three options to choose from.
            |       First is to access the comprehensive project information via website or through personalized application.
            br
            br
            |       Second is through a one-to-one free consultation service by appointment.
            br
            br
            |       Third is a scheduled site tour conducted once or twice a month or by existing demands. This is an avenue for investors to visit the actual property and get the feel of the investment site.
            br
            br
            |       This financial structure is specialized for developing Southeast Asian countries because of the endless opportunities they provide.
            br
            br
            |       We have two different types of real estate investments.
            br
            br
            |       First, we simply acquire real estate properties directly and sell or rent them out to others in order to earn steady income.
            br
            br
            |       Second is to invest directly in other real estate projects like resort development, entertainment and commercial establishments etc.) and get dividends in return.
            br
            br
            |       In both cases, we will redistribute the income earned from sales, rent and dividends minus the operational, lending and miscellaneous costs to investors.

