extends ../main-layout

block headAppendTitle
    title TJ Tech - Tjex.insure

block content
    .container.mt-5.pt-5.ecosys-theme
        .row
            .col-12.col-md-4
                .text-intro.text-nowrap
                    | Custom Software
                    br
                    |  Development
                button.btn-base.learn-btn Learn More
            .col-12.col-md-8
                img(style='width: 100%;' src='assets/images/t_ecosystem.svg' alt='')
        .g-header.text-center.ecosys-leading(style='margin-top: 102px;') TJex.app
        .ecs-title Grow your wealth while protecting yourself with savings type insurance
        .detail
            | There are two types of insurance, non refundable insurance and saving type insurance, but we specialize in insurance to increase assets.In general, offshore funded insurance offers the following benefits:
            br
            |       &#x30FB;You can start from US$100/month
            br
            |       &#x30FB;You can have a peace of mind wherever you are.
            br
            |       &#x30FB;Payment thru credit card and linkage with overseas securities accounts are also possible.
            br
            |       &#x30FB;You can also choose a principal guarantee product (Example: 140% guarantee of principal for 15 years, 160% guarantee of principal for 20 years, etc.)
            br
            |       &#x30FB;You can choose investment trusts that are less risky than stock investments.&#x30FB;Expected annual return is 4% to 8%
            br
            br
            |       Our strength is that you can purchase offshore savings type insurance using Fiat, Crypto-currency or your own NTF-Token.
            br
            br
            |       Our financial ecosystem enables flexible insurance payments because each service is interconnected.
            |       For example, you can offset the loss of securities investment with the profit of savings type insurance, and you can also invest in real estate using REITs(Real Estate Investment Trusts) with the refund of insurance.
            |       Offshore insurance also offers significant benefits over general domestic insurance services in terms of inheritance tax and other tax measures.
            br
            br
            |       At our company, you can receive advice from international lawyers specializing in taxation free of charge, which will greatly help your long-term asset management.

