extends ../main-layout

block headAppendTitle
    title TJ Tech - Tjex.fund

block content
    .container.mt-5.pt-5.ecosys-theme
        .row
            .col-12.col-md-4
                .text-intro.text-nowrap
                    | Custom Software
                    br 
                    |Development
                .button-mb-center
                    a(href="contact.html")
                        button.btn-base.learn-btn Learn More
            .col-12.col-md-8
                img(style='width: 100%;' src='assets/images/t_ecosystem.svg' alt='')
        .g-header.text-center.ecosys-leading.head-spacing TJex.fund
        .text-center.short-description Invest with high return of investment and low risk
        .detail(style='margin-top: 52px;')
            | Invest with high return of investment and low risk. Nowadays, there are many investments opportunities or variety of funds that general investors can invest into. There are investment trusts, hedge fund types, stock index interlocking, commodity index interlocking, and etc. However, these funds cannot be easily invested in because the minimum investment amount and period are fixed. Therefore, in order to make it easier to invest in various funds, a simpler mechanism should be provided.
        .detail(style='margin-top: 35px;')
            | TJEX Fund provides asset management services to give people financial freedom by managing multi-asset funds with absolute return and offering advice on portfolio consultation as follows
        .detail(style='margin-top: 56px;')
            | (1) direct investment
            br
            |       (2) increase profit
            br
            |       (3) choose the right investment objectively
            br
            |       (4) get on top of the required processes
            br
            |       (5) gain independent knowledge on global investments
            br
        .detail(style='margin-top: 65px;')
            | Furthermore, the funds we offer are &quot;&quot;Weekly fund&quot;&quot; types that can be invested on a weekly basis. You can invest in assets such as foreign exchange, stock INDEX, Crypto currencies, and commodities and choose a fund that uses different strategies, such as Outright Strategies(Trend Follow, Counter Trend etc), Arbitrage, and Statistical methods.
