extends ../main-layout

block headAppendTitle
    title TJ Tech - Tjex.digital

block content
    .container.mt-5.pt-5.ecosys-theme
        .row
            .col-12.col-md-4
                .text-intro.text-nowrap
                    | Custom Software
                    br
                    |Development
                .button-mb-center
                    a(href="contact.html")
                        button.btn-base.learn-btn Learn More
            .col-12.col-md-8
                img(style='width: 100%;' src='assets/images/t_ecosystem.svg' alt='')
        .g-header.text-center.ecosys-leading.head-spacing TJex.digital
        .ecs-title Low-cost currency exchange between ASEAN countries
        .detail(style='margin-top: 52px;')
            | There are already many cryptocurrency exchange platforms around the world, but not many offer useful and unique services.
            br
            br
            |       Currently, the response of financial institutions in each country to cryptocurrencies is not always user-friendly. But because there are many cases where newly issued cryptocurrencies plunge, some countries, such as Singapore, have begun to tighten regulations.
            br
            br
            |       Despite of these negative issues surrounding cryptocurrency exchanges, one has to know that the digital financial revolution is still in its infancy. Just as the Internet lines first started with ISDN, digital finance will continue to grow at an accelerating pace and offer better services and opportunities. No one can stop the industrial revolution of &quot;&quot;Web3.0&quot;&quot; and that includes cryptocurrencies.
            br
            br
            |       Trading and foreign conversion in the comforts of your own home are now possible through digital asset management. These two are the fastest-growing markets in the IT financial community, and that&apos;s what TJEX Digital offers.
            br
            br
            |       We offer a user-friendly platform which can be utilized by a diverse group of users regardless of age, trading and exchange experiences, or amount of investment.
            br
            br
            |       Through our platform, you can enjoy two unique features. First, start investing even with small amounts in the digital market such as cryptocurrency. Second, save exchange commission because the service fee is resonable compares to other existing platforms.
        .ecs-title.tt-spacing Low-cost currency exchange between ASEAN countries
        .detail
            | Accordance with this, another service offered under TJEX Digital, called Sout-East Asian Digital Currency (SEA), is exchanging currencies at one&apos;s convenience with lesser costs. This is especially more beneficial to those who are working overseas and need to transfer funds back to their home country. Nowadays, there&apos;s a lot of existing services that offer exchanges of currency but with higher costs. With our platform, one can exchange currency to another efficiently. (Please view the example below.)
        .recipe-box.text-center
            | Current: PHP =&gt; USD =&gt; VND, 2 times commissions. 1% X 2 times = 2%
            br
            |       Using TJEX Digital: PHP =&gt; USD =&gt; VND, just 1 time commissions. 0.1% X 1 time = 0.1%
        .detail
            | This process allows you to reduce cost for conversion rates and online banking; even if it&apos;s small it can make a difference in people&apos;s lives, especially the regular income earners with limited access to financial instruments. Furthermore, as this accumulates over time and with frequency of transactions, it can definitely impact overall transactions thus, elevating the financial capacity of each entity.
            br
            br
            |       For now, our service is pioneering to our Southeast Asian countries clients but as the company continues to grow, we are also looking forward to extend this solution to other continents in the future.
        .ecs-title.tt-spacing SEA-DC (South-East Asian Digital Currency)
        .detail
            | Gamechangers have redefined the rules and the nature of innovative efforts for both small and large-scale businesses globally and a lot of them are going digital such as mobile banking scheme, online payment, and etc.
            br
            br
            |       According to researches, electronic payments between ASEAN and banks have improved recently. A Singapore-to-Vietnam and vice-versa internet transfer can be done in minutes. With SEA, we may achieve seamless business transactions among ASEAN countries regardless of their global stature and promote economic and diplomatic stability without worrying about money exchange constraints.
            br
            br
            |       Launching the Asian common currency has two purposes:&gt; increase the value of Southeast Asian countries included in this currency.&gt; build an economic zone in which multiple countries can participate such as those that are using EURO.
            br
            br
            |       This project is an offshoot of our long-term vision encapsulated in &ldquo;Give People Freedom&rdquo;, a CSR initiative that aims to create innovative projects that would make it possible for ordinary people to attain financial freedom.
            br
            br
            |       Reducing cost for conversion rates and online banking, even if it&apos;s small it can make a difference in people&apos;s lives, especially the regular income earners with limited access to financial instruments. Furthermore, as this accumulates over time and with frequency of transactions, it can definitely impact overall transactions thus, elevating the financial capacity of each entity.

