extends ../main-layout

block headAppendTitle
    title TJ Tech - Tjex.finance

block content
    .container.mt-5.pt-5.ecosys-theme
        .row
            .col-12.col-md-4
                .text-intro.text-nowrap
                    | Custom Software
                    br
                    |  Development
                button.btn-base.learn-btn Learn More
            .col-12.col-md-8
                img(style='width: 100%;' src='assets/images/t_ecosystem.svg' alt='')
        .g-header.text-center.ecosys-leading(style='margin-top: 102px;') TJex.finance
        .ecs-title Take a loan with flexible interest scheme
        .detail
            | Microfinance is a financial service that provides people with services such as small loans and savings, which help them run microbusinesses, become independent, and escape poverty in most of the developing countries. One financial service under Microfinance is called Microcredit.
            br
            br
            |       Microcredit is a financial service that provides unsecured and small loans to people. In 2006, Muhammad Yunus has started his Grameen Bank, which has been working to popularize microcredit. He was granted a Nobel Peace Prize for these humanitarian effort.
            br
            br
            |       At first, most banks were skeptical about lending to the low-income class, saying that they can&apos;t be trusted in borrowing funds to be used for a small business. It will only put them into worst obligation of paying their increasing debt.
            br
            br
            |       Meanwhile, the success of Grameen Bank has led to the establishment of similar microcredit institutions around the world and became active in lending to the low-income class.
            br
            br
            |       In recent years, not only lending (credit) but also a wide range of financial services such as savings and insurance have come to be provided, so it is generally called microfinance.
            br
            br
            |       This service is meant to work hand in hand with an exisitng online banking services.We provide the system and management to the client banks. The client may opt to continue to use their own branding using our system or they can refer TJEX company to the end-user.
            br
            br
            |       The advantage of using our system is that we provide all the services pertaining to financial management and reduce the risk of losing.
            br
            br
            |       We are developing a comprehensive system to provide this service in developing countries, including Vietnam. We envision incorporating this service as one lineup of existing banking online banking services.
