extends ../main-layout

block headAppendTitle
    title TJ Tech - Tjex.app

block content
    .container.mt-5.pt-5.ecosys-theme
        .row
            .col-12.col-md-4
                .text-intro.text-nowrap
                    | Custom Software
                    br
                    |  Development
                a(href="/contact.html")
                    button.btn-base.learn-btn Learn More
            .col-12.col-md-8
                img(style='width: 100%;' src='assets/images/t_ecosystem.svg' alt='')
        .g-header.text-center.ecosys-leading(style='margin-top: 102px;') TJex.app
        .ecs-title Play, level up, sell, and earn using NFT
        .detail
            | Non-fungible tokens (NFTs) are financial security consisting of digital data stored in a blockchain, a type of distributed ledger. Ownership of the NFT is recorded on the blockchain and can be transferred by the owner, allowing the NFT to be sold and traded. Anyone can create an NFT and requires little or no programming knowledge.
            br
            br
            |       Furthermore, NFTs are digital assets that represent real-world objects such as art, music, in-game items, and videos. They are often bought and sold online using cryptocurrencies and are usually encoded in the same underlying software as many other cryptocurrencies. NFTs are uniquely identifiable and therefore different from alternative cryptocurrencies. The market value of an NFT is linked to the digital file it references.
            br
            br
            |       Among NFTs, the one whose market is expanding rapidly these days is NFT games. NFTs are valuable in the gaming world. Play-to-Earn NFT games are blockchain-based games that provide players with digital assets such as NFTs, character skins and cryptocurrencies. These can be earned by conquering levels, participating in competitions, or simply spending time in the game. In some cases, it helps you play more effectively and level up. They can also be sold in real dollars or cryptocurrencies in crypto exchanges. For this reason, NFT games can be profitable.
            br
            br
            |       TJEX Token offers an NFT game called &quot;&quot;TJ-Game&quot;&quot;. Just like other NFT games, a player or investor can earn through selling their in-game digital assets. Digital assets are offered when you play and win the game, which is called tokens. This framework converts the gaming time into financial incentives. Revenue can be generated through in-game cryptocurrency and trading in game NFTs, which then can be sold for real money or public blockchain exchange. On top of that, the rarer the digital assets or item, the higher its value.
            br
            br
            |       Nowadays, there are many NFTs gaming platforms available but ours has less percentage commission for every transaction. This means that a player or investor will earn more using our service compared with others.
        .ecs-title.tt-spacing What is a DAO in Web3? / What is DAO in NFT?
        .detail
            | Decentralized autonomous organizations (DAOs) are a staple of web3. Internet-native and blockchain-based, DAOs are intended to provide a new, democratized management structure for businesses, projects, and communities, in which any member can vote on organizational decisions just by buying into the project.
            br
            br
            |       DAO is an acronym for Decentralized Autonomous Organization, a community-led organization that lets members vote on the direction of their entity. Collector DAOs allow multiple individuals to own a fragment of an NFT; this gives smaller NFT traders an opportunity to join more expensive projects.
            br
            br
            |       What is an example of a DAO? Examples of operational DAOs include DASH, a cryptocurrency managed by its users, MakerDAO, a software that maintains a stablecoin, and Augur, a prediction market platform. Other use cases include incentivizing users to operate social media platforms, such as Steemit, or shared virtual worlds, such as Decentraland.

