
extends ../main-layout

block headAppendTitle
    title TJ Tech - Tjex.trade

block content
    .container.mt-5.pt-5.ecosys-theme
        .row
            .col-12.col-md-6
                .text-intro.w-95
                    | Custom Software
                    br
                    |  Development
                button.btn-base.learn-btn Learn More
            .col-12.col-md-6
                img(style='width: 100%;' src='assets/images/t_ecosystem.svg' alt='')
        .g-header.text-center.ecosys-leading(style='margin-top: 102px;') TJex.trade
        .ecs-title Buy and sell like a pro
        .detail(style='margin-top: 52px;')
            | Most people view, whether it&apos;s sports or study, that those who work harder than others will always be rewarded. But it isn&apos;t the same in the world of investment.
            br
            br
            |       A common fallacy in investment is that many general investors believe that they can achieve success if they spend a lot of time trying to improve their investment skills. The reality is that the more transactions you make, the more likely you are going to keep losing money. In fact, it is common knowledge in the retail financial industry that more than 80% of small-lot investors lose.
            br
            br
            |       In that case, it may be more likely that you will win if you imitate or use the trading method of the winner.
        .detail(style='margin-top: 35px;')
            | The platform provides assistance to retail investors with a unique social copy trading community that enables them to buy and sell trader-developed strategies, regardless if they are amateur or experienced traders. On top of that, they can customize the existing strategies to suit their demands or requirements.
            br
            br
            |       Also, we offer free consultation services on different investments such as recommendations on similar portfolios which end-users can utilize to choose the right investment for them.

